{% extends 'statbb/base.html.twig' %}

{% block title %}Defis index{% endblock %}

{% block body %}
<div class="m-2">
    <div class="card">
    <h1>Defis index</h1>
        <a href="{{ path('Admin') }}">Retour</a>
    <table class="table" id="Admin" entity="Defis">
        <thead>
            <tr>
                <th>Id</th>
                <th>Equipe Origine</th>
                <th>Equipe Défiée</th>
                <th>DefieRealise</th>
                <th>DateDefi</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for defi in defis %}
            <tr>
                <td>{{ defi.id }}</td>
                <td>{{ defi.equipeOrigine.name }}</td>
                <td>{{ defi.equipeDefiee.name }}</td>
                <td><a href="#" data-type="select" data-pk="{{ defi.Id }}" data-name="DefieRealise" data-source='{"true": "Yes", "false":"No"}'  id="admin_defis_realise_{{ loop.index }}"> {{ defi.defieRealise ? 'Yes' : 'No' }}</a></td>
                <td>{{ defi.dateDefi ? defi.dateDefi|date('d/m/Y') : '' }}</td>
                <td>
                    <a href="{{ path('defis_edit', {'id': defi.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('defis_new') }}">Create new</a>
    </div>
</div>
{% endblock %}
