<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createteam">
 Créer une équipe
</button>


<div class="modal fade" id="createteam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Nouvelle équipe</h4>
      </div>
      <div class="modal-body">
        <div>
          {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.Name) }}
                {{ form_row(form.fRace) }}
        </div>
	  </div>
      <div class="modal-footer">
         {{ form_widget(form.submit) }}{{ form_widget(form.cancel) }}
          {{ form_end(form) }}
      </div>
    </div>
  </div>
</div>
