<table class="table" id="pos_table">
    <thead>
    <tr>
        <th>Quantité</th>
        <th>MA</th>
        <th>ST</th>
        <th>AG</th>
        {% if ruleset == 1 %}
            <th>CP</th>
        {% endif %}
        <th>AV</th>
        <th>Comp</th>
        <th>Cost</th>

    </tr>
    </thead>
    <tbody>
    <tr>
        <td>0 - {{ position.qty }}</td>
        <td>{{ position.ma }}</td>
        <td>{{ position.st }}</td>
        {% if ruleset == 0 %}
            <td>{{ position.ag }}</td>
            <td>{{ position.av }}</td>
        {% else %}
            <td>{{ position.ag }}+</td>
            <td>{{ position.cp }}+</td>
            <td>{{ position.av }}+</td>
        {% endif %}
        <td>{{ competence|raw }}</td>
        <td>{{ position.cost }}</td>
    </tr>
    </tbody>
</table>