<div class="table-responsive">
    <table class="table" id="TablePrimes" style="width: 100%">
        <thead>
        <tr>
            <td>Cible</td>
            <td>De</td>
            <td>Montant</td>
            {% if app.user.roles["role"] == 'ROLE_ADMIN' %}
            <td>Action</td>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {%  for prime in primeCollection %}
            {% if(prime.actif==0) %}
            <tr style="text-decoration : line-through;">
            {% else %}
            <tr>
                {% endif %}
                <td>
                    {% if(prime.players.name|length == 2) %}
                        Inconnu
                    {% else %}
                        {{ prime.players.name }}
                    {% endif %}
                    , {{ prime.players.Fpos.pos }} de  {{ prime.players.OwnedByTeam.name }}, {{ prime.players.OwnedByTeam.fRace.name }}
                    <a
                            class="glyphicon glyphicon-search"
                            href="{{ path('Player', {'playerid': prime.players.playerId,'type':'n' }) }}"></a></td>
                <td>{{ prime.teams.name }}, {{ prime.teams.fRace.name }} de {{ prime.Coaches.name }}</td>
                <td>{{ prime.montant }}</td>
            {% if app.user.roles["role"] == 'ROLE_ADMIN' %}
                <td> <i class="glyphicon glyphicon-remove text-danger" id="enleve_prime_{{ prime.id }}" primeId="{{ prime.id }}"></i></td>
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{{ render(controller('App\\Controller\\StatBBController::ajoutPrimeForm',{'coachId':app.user.coachId} )) }}
{% if app.user.roles["role"] == 'ROLE_ADMIN' %}
{{ render(controller('App\\Controller\\StatBBController::realiserPrimeForm')) }}
{% endif %}