<h3>Ajouter un match - N°{{ numero+1 }}</h3>
<form id="formMatch">
    <div class="d-flex">
        <div class="d-flex flex-column mr-auto">
            <h1 class="text-center">Equipe 1</h1>
            <div class="form-group">
                <label for="gain1" class="control-label">Gain</label>
                <input id="gain1" class="form-control" type="text" side="1" name="gain1" placeholder="Gain">
            </div>
            <div class="form-group">
                <label for="score1" class="control-label">Score</label>
                <input id="score1" class="form-control" type="text" side="1" name="score1" placeholder="Score">
            </div>
            <div class="d-flex" id="team1_flex_sl_container">
                <div class="form-group" id="team1_select_container">
                    <label for="selectedTeam_1" class="control-label">Equipe 1</label>
                    <select class="form-control" id="selectedTeam_1" name="team_1" side="1">
                        <option value="" selected>Choisir une équipe</option>
                        {% for team in teams %}
                            <option value="{{ team.teamId }}">{{ team.name }}({{ team.fRace.name }}),{{ team.tv/1000 }}
                                de {{ team.ownedByCoach.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <button type="button" class="btn btn-primary form-control " side="1" id="valideteam1">
                        <span class="fas fa-plus"></span>
                    </button>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Variation de popularité</label>
                <label class="radio" for="optionsRadios3">
                    <input type="radio" name="varpop_team1" id="optionsRadios3" value="-1">-1</label>
                </label>
                <label class="radio" for="optionsRadios2">
                    <input type="radio" name="varpop_team1" id="optionsRadios2" value="0">0</label>
                </label>
                <label class="radio" for="optionsRadios1">
                    <input type="radio" name="varpop_team1" id="optionsRadios1" value="1">1</label>
                </label>
            </div>
        </div>

        <div class="d-flex flex-column ml-auto">
            <h1 class="text-center">Equipe 2</h1>
            <div class="form-group">
                <label for="gain2" class="control-label">Gain</label>
                <input id="gain2" class="form-control" type="text" side="2" name="gain2" placeholder="Gain">
            </div>
            <div class="form-group">
                <label for="score2" class="control-label">Score</label>
                <input id="score2" class="form-control" type="text" side="2" name="score2" placeholder="Score">
            </div>
            <div class="d-flex" id="team2_flex_sl_container">
                <div class="form-group" id="team2_select_container">
                    <label for="selectedTeam_2" class="control-label">Equipe 2</label>
                    <select class="form-control" id="selectedTeam_2" name="team_2"
                            side="2">
                        <option value="" selected>Choisir une équipe</option>
                        {% for team in teams %}
                            <option value="{{ team.teamId }}">{{ team.name }}({{ team.fRace.name }}),{{ team.tv/1000 }}
                                de {{ team.ownedByCoach.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <button type="button" class="btn btn-primary form-control" side="2" id="valideteam2">
                        <span class="fas fa-plus"></span>
                    </button>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Variation de popularité</label>
                <label class="radio" for="optionsRadios3">
                    <input type="radio" name="varpop_team2" id="optionsRadios3" value="-1">-1</label>
                </label>
                <label class="radio" for="optionsRadios2">
                    <input type="radio" name="varpop_team2" id="optionsRadios2" value="0">0</label>
                </label>
                <label class="radio" for="optionsRadios1">
                    <input type="radio" name="varpop_team2" id="optionsRadios1" value="1">1</label>
                </label>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div>
            <label for="totalpop">Total popularité</label>
            <input type="text" name="totalpop" value="0" id="totalpop" class="form-control">
        </div>
        <div>
            <label for="meteo">Météo</label>
            <select class="form-control" id="meteo" name="meteo">
                <option value="" selected>Choisir une Météo</option>
                {% for meteo in meteos %}
                    <option value="{{ meteo.id }}">{{ meteo.nom }}</option>
                {% endfor %}
            </select>
        </div>
            <div id="stade_select">
                <label for="stade">Stade</label>
                <select class="form-control" id="stade" name="stade">
                    <option value="" selected>Choisir un stade</option>
                    {% for stade in stades %}
                        <option value="{{ stade.id }}">{{ stade.type }}</option>
                    {% endfor %}
                </select>
            </div>

    </div>
    <button id="recMatch" type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal">
        Valider
    </button>
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-body">
        <img src="{{ asset('build/images/big-loader.gif') }}"
             class="img-responsive center-block"/>
    </div>
</div>

