<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZMXGRLBDY6"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-ZMXGRLBDY6');
    </script><!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NT42S4J');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <title>{% block title %}Site de Stat Blood bowl{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('build/images/favicon.ico') }}"/>
    {% block cssjs %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/61d30ff0c7.js" crossorigin="anonymous"></script>
        <script src="{{ asset('build/js/app.js') }}"></script>
    {% endblock %}
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NT42S4J"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- Navigation -->
{% block nav %}
    <nav class="navbar navbar-expand-lg ">
        <a class="navbar-brand" href="{{ path('index') }}"><img src="{{ asset('build/images/favicon.ico') }}" width="25" height="25" >Site de stat Blood bowl</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    {% block citation %}
                        {{ render(controller('App\\Controller\\StatBBController::citation' )) }}
                    {% endblock %}
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
            {% if app.user %}
                <li class="nav-item m-2">
                    <a href="{{ path('index') }}"><span class="fas fa-home"></span>Home</a>
                </li>

                <li class="nav-item m-2">
                    <a href="{{ path('frontUser') }}" ><span class="fas fa-user"></span>Le coin du coach</a>
                </li>
                <li class="nav-item m-2">
                    <a href="{{ path('logout') }}"><span class="fa fa-sign-out-alt"></span> Sortir</a>
                </li>
            {% else %}
                    <li class="nav-item">
                        <form class="form-inline" method="post" action="{{ path('login') }}">
                            <div class="d-flex flex-row">
                                <input type="text" class="form-control mx-1" placeholder="Login" name="_username" required>
                                <input type="password" class="form-control mx-1" placeholder="Password" name="_password"  required>
                                <button type="submit" class="btn btn-primary mx-1">Go !</button>
                            </div>
                        </form>
                    </li>
            {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}

<!-- content -->
{% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show mt-2 mx-2">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
        </div>
{% endfor %}
{% for message in app.flashes('fail') %}
        <div class="alert alert-danger alert-dismissible fade show mt-2 mx-2">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ message }}
        </div>
{% endfor %}
{% if app.user and app.user.roles["role"] == 'ROLE_ADMIN' %}
    {% for message in app.flashes('admin') %}
            <div class="alert alert-success alert-dismissible fade show mt-2 mx-2">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message|raw }}
            </div>
    {% endfor %}
{% endif %}
{% block body %}
{% endblock %}
<!-- footer -->
{% block footer %}
    <a id="loadingmessage" style="display:none"><img src="{{ asset('build/images/ajax-loader.gif') }}"/></a>
    <footer class="footer bg-white footer-custom">
        <div class="container">
            {{ render(controller('App\\Controller\\StatBBController::dyk')) }}
        </div>
    </footer>
{% endblock %}
</body>
</html>
