<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#<meta name="viewport" content="width=1024">#}
    <title>{% block title %}Site de Stat Blood bowl{% endblock %}</title>
    {% block cssjs %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

        <script src="{{ asset('build/js/app.js') }}"></script> -
    {% endblock %}
</head>
<body>
<!-- Navigation -->
{% block nav %}
    <nav class="navbar navbar-fixed-top navbar-default" id="nav_center" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('index') }}">Site de stat Blood bowl</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        {% block citation %}
                            {{ render(controller('App\\Controller\\StatBBController::citation' )) }}</a>
                        {% endblock %}
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if not app.user %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span
                                        class="caret"></span></a>
                            <ul id="login-dp" class="dropdown-menu">
                                <li>
                                    <form class="form" role="form" method="post" action="{{ path('login') }}"
                                          accept-charset="UTF-8" id="login-nav">
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                            <input type="text" class="form-control" name="_username"
                                                   placeholder="Coach Name" required>
                                        </div>
                                        <div class="form-group">
                                            <label class="sr-only" for="exampleInputPassword2">Password</label>
                                            <input type="password" class="form-control" name="_password"
                                                   placeholder="Password" required>
                                            <div class="help-block text-right"><a href="">Forget the password ?</a>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('logout') }}"
                               class="glyphicon glyphicon-remove text-danger">{{ app.user.name }}</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

<!-- content -->
{% block body %}
{% endblock %}
<!-- footer -->
{% block footer %}
    <a id="loadingmessage" style="display:none"><img src="{{ asset('build/images/ajax-loader.gif') }}"/></a>
    <footer class="footer bg-white footer-custom">
        <div class="container">
            {{ render(controller('App\\Controller\\StatBBController::dyk')) }}
        </div>
    </footer>
{% endblock %}
</body>
</html>
