<h1 class="text-center">Classement Général</h1>
<div class="table-responsive">
    <table class="table  table-striped" id="classgen">
        <thead>
        <tr>
            <th>#</th>
            <th>Equipe</th>
            <th></th>
            <th>Race</th>
            <th>Coach</th>
            <th>G</th>
            <th>N</th>
            <th>P</th>
            <th>Pts</th>
            <th>NbrM</th>
            <th>TV</th>
        </tr>
        </thead>
        <tbody>
        {% for team in classement %}
            <tr>
                <td class="pos">{{ loop.index }}</td>
                <td><a data-toggle="modal" data-target="#team_{{ team.team_id }}"
                       href="{{ path('team', {'id': team.team_id,'type':'modal' }) }}">{{ team.team_name }}</a>
                    <div class="modal fade" id="team_{{ team.team_id }}">
                        <div class="modal-dialog modal-lg" >
                            <div class="modal-content">

                            </div>
                        </div>
                    </div>
                </td>
                <td><img src="{{ asset('build/images/race_icons/'~team.icon~'.png') }}" class="img-responsive"></td>
                <td>{{ team.race }}</td>
                <td>{{ team.name }}</td>
                <td>{{ team.Win }}</td>
                <td>{{ team.Draw }}</td>
                <td>{{ team.Lost }}</td>
                <td>{{ team.pts }}</td>
                <td>{{ team.nbrg }}</td>
                <td>{{ team.tv }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>



