<div class="d-flex" id ="selected_player_{{ teamId }}_{{ nbr }}_container">
    <div class="form-group">
        <label for="selected_player_{{ teamId }}_{{ nbr }}" class="control-label" id="action">Joueur</label>
        <select class="form-control" id="selected_player_{{ teamId }}_{{ nbr }}" name="player[{{ nbr }}].id">
            <option selected></option>
            {% for player in players %}
                <option value="{{ player.playerId }}">{{ player.nr }}.{{ player.name }}(
                    {% if(player.ruleset == 0) %}
                        {{ player.fRid.name }}, {{ player.fPos.pos }})
                    {% else %}
                        {{ player.fRidBb2020.name }}, {{ player.fPosBb2020.pos }})
                    {% endif %}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group align-self-end pl-3">
        <select class="form-control"  name="player[{{ nbr }}].action">
            <option selected></option>
            <option>COMP</option>
            <option>TD</option>
            <option>INT</option>
            <option>CAS - BH</option>
            <option>CAS - SI</option>
            <option>CAS - KI</option>
            {% if(ruleset == 1) %}
                <option>BONUS XP</option>
                <option>DET</option>
                <option>LAN</option>
            {% endif %}
            <option>MVP</option>
            <option>AGG</option>
            <option>COMO</option>
            <option>-1 Ma</option>
            <option>-1 St</option>
            {% if(ruleset == 0) %}
                <option>-1 Ag</option>
            {% else %}
                <option>+1 Ag</option>
            {% endif %}
            {% if(ruleset == 1) %}
                <option>+1 Cp</option>
            {% endif %}
            <option>-1 Av</option>
            <option>Ni</option>
            <option>RPM</option>
            <option>Tué</option>
        </select>
    </div>
    <div class="form-group align-self-end pl-3" onclick='$(this).parent().remove()'>
    <span class="fas fa-times text-danger fa-2x"></span>
    </div>
</div>