<div class="container-fluid">
    <div class="form-group">
    <div class="row">
        <div class="col-sm-12 col-lg-12 col-md-12">
            <label>Equipe {{ nbr }}</label>
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <div class="col-sm-9 col-lg-9 col-md-9">

                <select class="form-control" id="selectedTeam_{{ nbr }}" name="team_{{ nbr }}" side="{{ nbr }}">
                    <option value="" selected>Choisir une équipe</option>
                    {% for team in teams %}
                        <option value="{{ team.teamId }}">{{ team.name }}({{ team.fRace.name }}),{{ team.tv/1000 }}
                            de {{ team.ownedByCoach.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-2 col-lg-2 col-md-2">
                <button type="button" class="btn btn-primary" side="{{ nbr }}" id="valideteam{{ nbr }}">
                    Valider
                </button>
            </div>
        </div>
    </div>
    </div>
</div>



