{% extends "statbb/base.html.twig" %}
      
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-lg-3 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ render(controller('App\\Controller\\ClassementController::afficheSousClassements',{'type':'bash','teamorplayer':'player','limit':5} )) }}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ render(controller('App\\Controller\\ClassementController::afficheSousClassements',{'type':'xp','teamorplayer':'player','limit':5} )) }}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ render(controller('App\\Controller\\ClassementController::afficheSousClassements',{'type':'foul','teamorplayer':'player','limit':5} )) }}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ render(controller('App\\Controller\\ClassementController::afficheSousClassements',{'type':'td','teamorplayer':'team','limit':5} )) }}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ render(controller('App\\Controller\\ClassementController::afficheSousClassements',{'type':'foul','teamorplayer':'team','limit':5} )) }}
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ render(controller('App\\Controller\\ClassementController::classGen' )) }}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ render(controller('App\\Controller\\ClassementController::cinqDernierMatch')) }}
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3 col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ render(controller('App\\Controller\\ClassementController::afficheSousClassements',{'type':'td','teamorplayer':'player','limit':5} )) }}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ render(controller('App\\Controller\\ClassementController::afficheSousClassements',{'type':'pass','teamorplayer':'player','limit':5} )) }}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ render(controller('App\\Controller\\ClassementController::afficheSousClassements',{'type':'bash','teamorplayer':'team','limit':5} )) }}
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ render(controller('App\\Controller\\ClassementController::afficheSousClassements',{'type':'dead','teamorplayer':'team','limit':5} )) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
		
