{% extends "statbb/base.html.twig" %}
      
{% block body %}

    <div class="d-flex flex-xl-row flex-sm-column">
        <div class="d-flex flex-column">
            <div class="card m-2">
                <div class="card-body">
                    {{ render(controller('App\\Controller\\ClassementController::afficheSousClassementJoueur', {'type':'bash','limit':5} )) }}
                </div>
            </div>
            <br/>
            <div class="card m-2">
                <div class="card-body">
                    {{ render(controller('App\\Controller\\ClassementController::afficheSousClassementJoueur',{'type':'xp','limit':5} )) }}
                </div>
            </div>
            <br/>
            <div class="card m-2">
                <div class="card-body">
                    {{ render(controller('App\\Controller\\ClassementController::afficheSousClassementJoueur',{'type':'foul','limit':5} )) }}
                </div>
            </div>
            <br/>
            <div class="card m-2">
                <div class="card-body">
                    {{ render(controller('App\\Controller\\ClassementController::afficheSousClassementsEquipe',{'type':'td','limit':5} )) }}
                </div>
            </div>
            <br/>
            <div class="card m-2">
                <div class="card-body">
                    {{ render(controller('App\\Controller\\ClassementController::afficheSousClassementsEquipe',{'type':'foul','limit':5} )) }}
                </div>
            </div>
        </div>
        <div class="d-flex flex-column">
            <div class="card m-2">
                <div class="card-body" id="card_classgen">
                    {{ render(controller('App\\Controller\\ClassementController::classGen' )) }}
                </div>
                {%  if app.user %}
                    {% if app.user.roles['role'] == 'ROLE_ADMIN' %}
                        <br/>
                        <button class="btn btn-primary" id="capture_classementgen">capture du classement</button>
                    {% endif %}
                {% endif %}
            </div>
            <br/>
            <div class="card m-2">
                <div class="card-body">
                    {{ render(controller('App\\Controller\\ClassementController::cinqDernierMatch')) }}
                </div>
            </div>
        </div>
        <div class="d-flex flex-column">
            <div class="card m-2">
                <div class="card-body">
                    {{ render(controller('App\\Controller\\ClassementController::afficheSousClassementJoueur',{'type':'td','limit':5} )) }}
                </div>
            </div>
            <br/>
            <div class="card m-2">
                <div class="card-body">
                    {{ render(controller('App\\Controller\\ClassementController::afficheSousClassementJoueur',{'type':'pass','limit':5} )) }}
                </div>
            </div>
            <br/>
            <div class="card m-2">
                <div class="card-body">
                    {{ render(controller('App\\Controller\\ClassementController::afficheSousClassementsEquipe',{'type':'bash','limit':5} )) }}
                </div>
            </div>
            <br/>
            <div class="card m-2">
                <div class="card-body">
                    {{ render(controller('App\\Controller\\ClassementController::afficheSousClassementsEquipe',{'type':'dead','limit':5} )) }}
                </div>
            </div>
        </div>
    </div>
    <br/>
{% endblock %}
		
