
<h2 class="text-center">Last Five Games</h2>
<div class="table-responsive">
	<table class="table table-striped">
		<tbody>
			{%for game in games%}
			<tr>
				<td><img src="{{ asset('build/images/race_icons/'~game.team1.fRace.icon~'.png') }}" class="img-responsive pull-left"></td><td class="text-right"><a data-toggle="modal" data-target="#team" href="{{ path('team', {'id': game.team1.teamId,'type':'modal' }) }}">{{game.team1.name}}, {{game.tv1/1000}} ({{game.team1.fRace.name}})</a></td><td class="text-center">{{game.team1Score}} - {{game.team2Score}}</td><td class="text-left"><a  data-toggle="modal" data-target="#team" href="{{ path('team', {'id': game.team2.teamId,'type':'modal' }) }}">{{game.team2.name}}, {{game.tv2/1000}} ({{game.team2.fRace.name}})</a></td><td><img src="{{ asset('build/images/race_icons/'~game.team2.fRace.icon~'.png') }}" class="img-responsive pull-right"></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
<div class="modal fade" id="team">
  <div class="modal-dialog modal-lg" style="width:1250px;">
	<div class="modal-content">

	</div>
  </div>
</div>