<h2 class="text-center">Les derniers matchs</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
        {% if games is not empty %}
            {% for game in games %}
                <tr>
                    <td rowspan="2">
                        {% if game.team1.logo %}
                            <img src="{{ asset('uploads/logo_equipe/' ~ game.team1.logo) }}" class="img-fluid">
                        {% else %}
                            <img src="
                            {% if(game.team1.ruleset == 0) %}
                                {{ asset('build/'~app.environment~'/images/race_icons/'~game.team1.fRace.icon~'.png') }}
                            {% else %}
                                {{ asset('build/'~app.environment~'/images/race_icons/'~game.team1.race.icon~'.png') }}
                            {% endif %}
                            "
                                 class="img-fluid pull-left">
                        {% endif %}
                    </td>
                    <td class="text-right"><h4>{{ game.team1.name }}</h4>
                        {% if game.team1.franchise == true %}
                            <span class="fas fa-tag text-success"></span>
                        {% endif %}</td>
                    <td class="text-center text-nowrap"><h4>{{ game.team1Score }}
                            - {{ game.team2Score }}</h4></td>
                    <td class="text-left"><h4>{{ game.team2.name }}</h4>
                        {% if game.team2.franchise == true %}
                            <span class="fas fa-tag text-success"></span>
                        {% endif %}
                    </td>
                    <td rowspan="2">
                        {% if game.team2.logo %}
                            <img src="{{ asset('uploads/logo_equipe/' ~ game.team2.logo) }}" class="img-fluid">
                        {% else %}
                            <img src="
                            {% if(game.team2.ruleset == 0) %}
                                {{ asset('build/'~app.environment~'/images/race_icons/'~game.team2.fRace.icon~'.png') }}
                            {% else %}
                                {{ asset('build/'~app.environment~'/images/race_icons/'~game.team2.race.icon~'.png') }}
                            {% endif %}
                            "
                                 class="img-fluid pull-left">
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="text-right text-nowrap">{{ game.team1.ownedByCoach.name }},
                        {% if( game.team1.ruleset == 0) %}
                            {{ game.team1.fRace.name }}
                        {% else %}
                            {{ game.team1.race.name }}
                        {% endif %}
                        , {{ game.tv1/1000 }} </td>
                    <td class="text-center text-nowrap"><a
                                href="{{ path('match', {'matchId': game.matchId}) }}">Voir</a></td>
                    <td class="text-left text-nowrap">{{ game.team2.ownedByCoach.name }},
                        {% if( game.team2.ruleset == 0) %}
                            {{ game.team2.fRace.name }}
                        {% else %}
                            {{ game.team2.race.name }}
                        {% endif %}
                        , {{ game.tv2/1000 }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>