<h2 class="text-center">Les derniers matchs</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
        {% for game in games %}
            <tr >
                <td rowspan="2"><img src="{{ asset('build/images/race_icons/'~game.team1.fRace.icon~'.png') }}"
                         class="img-responsive pull-left"></td>
                <td class="text-right text-nowrap"><h4>{{ game.team1.name }}</h4></td>
                <td rowspan="2" class="text-center text-nowrap"><h4>{{ game.team1Score }} - {{ game.team2Score }}</h4></td>
                <td class="text-left text-nowrap"><h4>{{ game.team2.name }}</h4></td>
                <td rowspan="2"><img src="{{ asset('build/images/race_icons/'~game.team2.fRace.icon~'.png') }}"
                         class="img-responsive pull-right"></td>
            </tr>
            <tr>
                <td class="text-right text-nowrap">{{ game.team1.ownedByCoach.name }}, {{ game.team1.fRace.name }}, {{ game.tv1/1000 }} </td>
                <td class="text-left text-nowrap">{{ game.team2.ownedByCoach.name }}, {{ game.team2.fRace.name }}, {{ game.tv2/1000 }}</td>
            </tr>
        </tbody>
        {% endfor %}
        </tbody>
    </table>
</div>
