<tr>
    <td><span class="glyphicon glyphicon-remove text-danger" playerId="{{player.playerId}}" id="remove_pl_{{player.playerId}}"></span></td>
    <td>{{player.nr}}</td>
    <td>{{player.name}}</td>
    <td><img src="{{ asset('build/'~app.environment~'/images/player_icons/'~player.icon.iconName~'.gif') }}" class=".img-responsive">{{position.pos}}</td>
    <td>{{position.ma}}</td>
    <td>{{position.st}}</td>
    <td>{{position.ag}}</td>
    <td>{{position.av}}</td>
    <td>{{skill|raw}}</td>
    <td>0</td>
    <td></td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td>0</td>
    <td class="text-right">{{position.cost}}</td>
</tr>