{% extends "statbb/base.html.twig" %}

{% block body %}
    <div class="d-flex justify-content-center align-content-center">
        <div class="card m-2">
            <div class="card-header">
                <div>
                    Stade : {{ match.team1.fStades.nom }}
                    {% if (match.fStade.famille != 'aucune') %}
                        - Etat : {{ match.fStade.famille }}, {{ match.fStade.type }}
                    {% endif %}
                </div>
                <div>
                    Match n°{{ match.matchId }} du : {{ match.dateCreated|date('d/m/y') }}
                </div>
                <div>Météo : {{ match.fMeteo.nom }} </div>
                <div>
                    Affluence : {{ match.fans }} supporters
                </div>
            </div>
            <div class="card-body">

                <div class="d-flex justify-content-center">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <img src="{{ asset('build/images/race_icons/'~match.team1.fRace.icon~'.png') }}" class="img-fluid mr-3">
                            <h2 class="mr-3">{{ match.team1.name }}</h2>
                        </div>
                        <div class="text-right mr-3"> {{ match.team1.ownedByCoach.name }}</div>
                        <div class="text-right mr-3"> {{ match.team1.fRace.name }}</div>
                        <div class="text-right mr-3"> {{ match.tv1/1000 }}</div>
                        <div class="text-right mr-3"> {{ match.ffactor1 }}</div>
                        <div class="text-right mr-3"> {{ match.income1 }}</div>
                        <div class="text-right mr-3"> {{ actionEquipe1|raw }}</div>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="text-center"><h1>{{ match.team1Score }} - {{ match.team2Score }}</h1></div>
                        <div class="text-center"><u>Coach</u></div>
                        <div class="text-center"><u>Roster</u></div>
                        <div class="text-center"><u>TV</u></div>
                        <div class="text-center"><u>Popularité</u></div>
                        <div class="text-center"><u>Gains</u></div>
                        <div class="text-center"><u>Actions du matchs</u></div>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="d-flex ">
                            <h2 class="ml-3">{{ match.team2.name }}</h2>
                            <img src="{{ asset('build/images/race_icons/'~match.team2.fRace.icon~'.png') }}" class="img-fluid ml-3">
                        </div>
                        <div class="ml-3">{{ match.team2.ownedByCoach.name }}</div>
                        <div class="ml-3">{{ match.team2.fRace.name }}</div>
                        <div class="ml-3">{{ match.tv2/1000 }}</div>
                        <div class="ml-3">{{ match.ffactor2 }}</div>
                        <div class="ml-3">{{ match.income2 }}</div>
                        <div class="ml-3">{{ actionEquipe2|raw }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%  if app.user %}
    {% if app.user.roles['role'] == 'ROLE_ADMIN' %}
    <div class="card">
        [url={{ url('team', {'teamid': match.team1.teamId }) }}]{{ match.team1.name }}, ({{ match.team1.fRace.name }})[/url] VS [url={{ url('team', {'teamid': match.team2.teamId }) }}]{{ match.team2.name }}, ({{ match.team2.fRace.name }})[/url]<Br/>
        {{ match.team1Score }} - {{ match.team2Score }} [url={{ url('match', {'matchId': match.matchId}) }}]Voir[/url]<br/>
        <br/>
        <br/>
        Affluence : {{ match.fans }}
    </div>
    {% endif %}
    {% endif %}
{% endblock %}
