{% extends "statbb/base.html.twig" %}

{% block body %}
    <div class="d-flex justify-content-center align-content-center">
        <div class="card m-2">
            <div class="card-header">
                <div>
                    {% if match.stadeAcceuil == 1 %}
                        Stade : {{ match.team1.fStades.nom }}, {{ niveauStade[match.team1.fStades.niveau] }}
                        {% if (match.team1.fStades.fTypeStade.famille  != 'aucune') %}
                            - Etat : {{ match.team1.fStades.fTypeStade.famille }}, {{ match.team1.fStades.fTypeStade.type }}
                        {% endif %}
                    {% endif  %}
                    {% if match.stadeAcceuil == 2 %}
                        Stade : {{ match.team2.fStades.nom }}, {{ niveauStade[match.team1.fStades.niveau] }}
                        {% if (match.team2.fStades.fTypeStade.famille  != 'aucune') %}
                            - Etat : {{ match.team1.fStades.fTypeStade.famille }}, {{ match.team2.fStades.fTypeStade.type }}
                        {% endif %}
                    {% endif  %}
                    {% if match.stadeAcceuil == 3 or match.stadeAcceuil == null %}
                        Stade : {{ match.fStade.type }}
                        {% if (match.fStade.famille  != 'aucune') %}
                            - Etat : {{ match.fStade.famille }}
                        {% endif %}
                    {% endif %}
                </div>
                <div>
                    Match n°{{ match.matchId }} du : {{ match.dateCreated|date('d/m/y') }}
                </div>
                <div>Météo : {{ match.fMeteo.nom }} </div>
                <div>
                    Affluence : {{ match.fans }} supporters
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <div class="d-flex flex-column">
                        <div class="d-flex">
                            <img src="
                                {% if(match.team1.ruleset == 0) %}
                                    {{ asset('build/'~app.environment~'/images/race_icons/'~match.team1.fRace.icon~'.png') }}
                                {% else %}
                                    {{ asset('build/'~app.environment~'/images/race_icons/'~match.team1.race.icon~'.png') }}
                                {% endif %}
                                "
                                 class="img-fluid mr-3">
                            <h2 class="mr-3">{{ match.team1.name }}
                            {% if match.team1.franchise == true %}
                            <span class="fas fa-tag text-success"></span>
                            {% endif %}</h2>
                        </div>
                        <div class="text-right mr-3"> {{ match.team1.ownedByCoach.name }}</div>
                        <div class="text-right mr-3">
                            {% if(match.team1.ruleset == 0) %}
                                {{ match.team1.fRace.name }}
                            {% else %}
                                {{ match.team1.race.name }}
                            {% endif %}
                        </div>
                        <div class="text-right mr-3"> {{ match.tv1/1000 }}</div>
                        <div class="text-right mr-3"> {{ match.ffactor1 }}</div>
                        <div class="text-right mr-3"> {{ match.income1 }}</div>
                        <div class="text-right mr-3"> {{ match.Depense1 }}</div>
                        <div class="text-right mr-3"> {{ actionEquipe1|raw }}</div>
                        {% if match.team1.logo %}
                            <div class="text-right mr-3">
                                <img class="img-fluid" src="{{ asset('uploads/logo_equipe/' ~ match.team1.logo) }}">
                            </div>
                        {% endif %}
                    </div>
                    <div class="d-flex flex-column">
                        <div class="text-center"><h1>{{ match.team1Score }} - {{ match.team2Score }}</h1></div>
                        <div class="text-center"><u>Coach</u></div>
                        <div class="text-center"><u>Roster</u></div>
                        <div class="text-center"><u>TV</u></div>
                        <div class="text-center"><u>Popularité</u></div>
                        <div class="text-center"><u>Gains</u></div>
                        <div class="text-center"><u>Dépenses</u></div>
                        <div class="text-center"><u>Actions du matchs</u></div>
                    </div>
                    <div class="d-flex flex-column">
                        <div class="d-flex ">
                            <h2 class="ml-3">{{ match.team2.name }}
                                {% if match.team2.franchise == true %}
                                    <span class="fas fa-tag text-success"></span>
                                {% endif %}</h2>
                            <img src="
                               {% if(match.team1.ruleset == 0) %}
                                    {{ asset('build/'~app.environment~'/images/race_icons/'~match.team2.fRace.icon~'.png') }}
                                {% else %}
                                    {{ asset('build/'~app.environment~'/images/race_icons/'~match.team2.race.icon~'.png') }}
                                {% endif %}
                            "
                                 class="img-fluid ml-3">
                        </div>
                        <div class="ml-3">{{ match.team2.ownedByCoach.name }}</div>
                        <div class="ml-3">
                            {% if(match.team2.ruleset == 0) %}
                                {{ match.team2.fRace.name }}
                            {% else %}
                                {{ match.team2.race.name }}
                            {% endif %}
                        </div>
                        <div class="ml-3">{{ match.tv2/1000 }}</div>
                        <div class="ml-3">{{ match.ffactor2 }}</div>
                        <div class="ml-3">{{ match.income2 }}</div>
                        <div class="ml-3"> {{ match.Depense2 }}</div>
                        <div class="ml-3">{{ actionEquipe2|raw }}</div>
                        {% if match.team2.logo %}
                            <div class="ml-3">
                                <img class="img-fluid" src="{{ asset('uploads/logo_equipe/' ~ match.team2.logo) }}">
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if app.user %}
        {% if app.user.roles['role'] == 'ROLE_ADMIN' %}
            <div class="card">
                [url={{ url('team', {'teamid': match.team1.teamId }) }}]{{ match.team1.name }},
                (
                {% if(match.team1.ruleset == 0) %}
                    {{ match.team1.fRace.name }}
                {% else %}
                    {{ match.team1.race.name }}
                {% endif %}
                )[/url] VS [url={{ url('team', {'teamid': match.team2.teamId }) }}
                ]{{ match.team2.name }}, (
                {% if(match.team2.ruleset == 0) %}
                    {{ match.team2.fRace.name }}
                {% else %}
                    {{ match.team2.race.name }}
                {% endif %}
                )[/url]<Br/>
                {{ match.team1Score }} - {{ match.team2Score }} [url={{ url('match', {'matchId': match.matchId}) }}
                ]Voir[/url]<br/>
                <br/>
                <br/>
                Affluence : {{ match.fans }}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
