<page>
    <table style="width: 100%;">
        <tr>
            <td colspan="2" style="width: 100%; text-align: center; border: 3px solid rgb(215,229,208);">
                <h1>{{ team.name }}</h1></td>
        </tr>
        <tr>
            <td style="text-align: center;"><h4>Race : {{ team.fRace.name }}</h4></td>
            <td style="text-align: center;"><h4>Coach : {{ team.ownedByCoach.name }}</h4></td>
        </tr>
        <tr>
            <td style="text-align: center;"><h4>Treasury : {{ team.treasury }}</h4></td>
            <td style="text-align: center;"><h4>Stade : {{ team.stadiumName }} </h4></td>
        </tr>
    </table>
    <table id="team_sheet">
        <thead>
        <tr id="title">
            <td>#</td>
            <td>Name</td>
            <td>Position</td>
            <td>Ma</td>
            <td>St</td>
            <td>Ag</td>
            <td>Av</td>
            <td>Skills</td>
            <td>INJ</td>
            <td>Cp</td>
            <td>Td</td>
            <td>Int</td>
            <td>Cas</td>
            <td>Mvp</td>
            <td>Spp</td>
            <td>Cost</td>
        </tr>
        </thead>

        <tbody>
        {% for player in players %}

            {% if (player.status == 8)  %}
                <tr class="danger hidden" >
            {% elseif player.status == 7 %}
                <tr class="info hidden">
            {% elseif (player.injrpm == 1  or player.status ==9)  %}
                <tr class="warning">
            {% else %}
                <tr>
            {% endif %}

            {%if app.user and team.retired == 0%}
                <td><span class="glyphicon glyphicon-remove text-danger" playerId="{{player.playerId}}" id="remove_pl_{{player.playerId}}"></span></td>
            {% else %}
                <td><span class="glyphicon glyphicon-remove text-danger"></span></td>
            {% endif %}
            <td><div id="number_{{player.playerId}}" playerid="{{player.playerId}}">{{player.nr}}</div></td>
            <td><span id="name_{{player.playerId}}" playerid="{{player.playerId}}">{{player.name}} </span><a class="glyphicon glyphicon-search" href="{{ path('Player', {'id': player.playerId,'type':'n' }) }}"></a>
                {% if player.type == 2 %}
                    <p class="glyphicon glyphicon-euro" />
                {% endif %}
                {% if player.status == 9 %}
                    <p  class="glyphicon glyphicon-arrow-up" />
                {% endif %}
            </td>
            <td>{{player.fpos.pos}}</td>

            {% if player.achMa>0 %}
                <td class="success">{{player.fpos.ma + player.achMa - player.injMa}}</td>
            {% elseif  player.injMa>0%}
                <td class="danger">{{player.fpos.ma + player.achMa - player.injMa}}</td>
            {% else %}
                <td>{{player.fpos.ma + player.achMa - player.injMa}}</td>
            {% endif %}

            {% if player.achSt>0 %}
                <td class="success">{{player.fpos.st + player.achSt - player.injSt}}</td>
            {% elseif  player.injSt>0%}
                <td class="danger">{{player.fpos.st + player.achSt - player.injSt}}</td>
            {% else %}
                <td>{{player.fpos.st + player.achSt - player.injSt}}</td>
            {% endif %}

            {% if player.achAg>0 %}
                <td class="success">{{player.fpos.ag + player.achAg - player.injAg}}</td>
            {% elseif  player.injAg>0%}
                <td class="danger">{{player.fpos.ag + player.achAg - player.injAg}}</td>
            {% else %}
                <td>{{player.fpos.ag + player.achAg - player.injAg}}</td>
            {% endif %}

            {% if player.achAv>0 %}
                <td class="success">{{player.fpos.av + player.achAv - player.injAv}}</td>
            {% elseif  player.injAv>0%}
                <td class="danger">{{player.fpos.av + player.achAv - player.injAv}}</td>
            {% else %}
                <td>{{player.fpos.av + player.achAv - player.injAv}}</td>
            {% endif %}

            {% for data in pdata %}
                {%if data.pid == player.playerId %}
                    <td>{{data.skill|raw}}</td>
                    <td>{{data.cp}}</td>
                    <td>{{data.td}}</td>
                    <td>{{data.int}}</td>
                    <td>{{data.cas}}</td>
                    <td>{{data.mvp}}</td>
                    <td>{{data.agg}}</td>
                    <td>{{data.spp}}</td>
                    <td class="text-right">{{data.cost}}</td>
                {% endif%}
            {% endfor %}

            </tr>
        {%endfor%}

    </table>
</page>