<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/61d30ff0c7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" media="print" href="{{ asset('build/'~app.environment~'/css/app.css') }}">

</head>
<body>
<div class="container">
    <div class="table-responsive">
    <table class="table table-condensed">
        <tr>
            <td colspan="2" style="width: 100%; text-align: center; border: 3px solid rgb(215,229,208);">
                <h5>{{ team.name }}</h5></td>
        </tr>
        <tr style="font-size: 9px;">
            <td style="text-align: center;">Race :
                {% if(team.ruleset == 0) %}
                    {{ team.fRace.name }}
                {% else %}
                    {{ team.race.name }}
                {% endif %}
            </td>
            <td style="text-align: center;">Coach : {{ team.ownedByCoach.name }}</td>
        </tr>
        <tr style="font-size: 9px;">
            <td style="text-align: center;">Trésors : {{ team.treasury }}</td>
            <td style="text-align: center;">Stade : {{ team.fStades.nom  }}</td>
        </tr>
    </table>
    </div>
    <div class="table-responsive">
    <table id="team_sheet" class="table table-striped table-bordered table-condensed" style="font-size: 9px;">
        <thead>
        <tr id="title">
            <td>#</td>
            <td>Nom</td>
            <td>Position</td>
            <td>Ma</td>
            <td>St</td>
            <td>Ag</td>
            {% if(team.ruleset == 1) %}
                <td>Cp</td>
            {% endif %}
            <td>Av</td>
            <td>Compétences</td>
            <td>Status</td>
            <td>Cp</td>
            <td>Td</td>
            <td>Int</td>
            <td>Cas</td>
            {% if(team.ruleset == 1) %}
                <td>Bonus Xp</td>
            {% endif %}
            <td>Mvp</td>
            <td>Agg</td>
            <td>Spp</td>
            <td class="text-right">Coût</td>
        </tr>
        </thead>

        <tbody>
        {% for player in players %}

        {% if (player.status ==1 or player.status==9) %}
            <tr>
                <td>{{ player.nr }}</td>
                <td>{{ player.name }}
                    {% if player.journalier == true %}
                        <p class="fas fa-euro-sign"/>
                    {% endif %}
                    {% if player.status == 9 %}
                        <p class="fas fa-arrow-up"/>
                    {% endif %}
                </td>
                <td>
                    {% if(player.ruleset == 0) %}
                        {{ player.fpos.pos }}
                    {% else %}
                        {{ player.fposBb2020.pos  }}
                    {% endif %}
                </td>

                {% if player.achMa>0 %}
                <td class="text-success font-weight-bolder">
            {% elseif  player.injMa>0 %}
            <td class="text-danger font-weight-bolder">
            {% else %}
                <td>
                    {% endif %}
                    {% if player.ruleset == 0%}
                        {{ player.fpos.ma + player.achMa - player.injMa }}
                    {% else %}
                        {{ player.fPosBb2020.ma + player.achMa - player.injMa }}
                    {% endif %}
                </td>

                {% if player.achSt>0 %}
                <td class="text-success font-weight-bolder">
            {% elseif player.injSt>0 %}
            <td class="text-danger font-weight-bolder">
            {% else %}
                <td>
                    {% endif %}
                    {% if player.ruleset == 0%}
                        {{ player.fpos.st + player.achSt - player.injSt }}
                    {% else %}
                        {{ player.fPosBb2020.st + player.achSt - player.injSt }}
                    {% endif %}
                </td>

                {% if player.achAg>0 %}
                <td class="text-success font-weight-bolder">
            {% elseif player.injAg>0 %}
            <td class="text-danger font-weight-bolder">
            {% else %}
                <td>
                    {% endif %}
                    {% if player.ruleset == 0%}
                        {{ player.fpos.ag + player.achAg - player.injAg }}
                    {% else %}
                        {{ player.fPosBb2020.ag - player.achAg + player.injAg}}+
                    {% endif %}
                </td>

                {% if player.ruleset == 1%}
                    {% if player.achCp>0 %}
                        <td class="text-success font-weight-bolder">
                    {% elseif  player.injCp>0 %}
                        <td class="text-danger font-weight-bolder">
                    {% else %}
                        <td>
                    {% endif %}
                    {{ player.fPosBb2020.cp - player.achCp + player.injCp }}+
                    </td>
                {% endif %}

                {% if player.achAv>0 %}
                <td class="text-success font-weight-bolder">
            {% elseif player.injAv>0 %}
            <td class="text-danger font-weight-bolder">
            {% else %}
                <td>
                    {% endif %}
                    {% if player.ruleset == 0%}
                        {{ player.fpos.av + player.achAv - player.injAv }}
                    {% else %}
                        {{ player.fPosBb2020.av + player.achAv - player.injAv }}+
                    {% endif %}
                </td>

                {% for data in pdata %}
                    {% if data.pid == player.playerId %}
                        <td>{{ data.skill|raw }}</td>
                        <td>{{ data.status }}</td>
                        <td>{{ data.cp }}</td>
                        <td>{{ data.td }}</td>
                        <td>{{ data.int }}</td>
                        <td>{{ data.cas }}</td>
                        {% if(team.ruleset == 1) %}
                            <td>{{ data.bonusXP }}</td>
                        {% endif %}
                        <td>{{ data.mvp }}</td>
                        <td style="white-space: nowrap;">
                            {{ data.agg }}
                            {% if(data.exp > 0) %}
                                ({{ data.exp }})
                            {% endif %}
                        </td>
                        {% if feuille.team.ruleset == 0 %}
                            <td>{{ data.spp }}</td>
                        {% else %}
                            <td>{{ data.spp - player.sppDepense}}</td>
                        {% endif %}
                        <td class="text-right">{{ data.cost|raw }}</td>
                    {% endif %}
                {% endfor %}
            </tr>

        {% endif %}
        {% endfor %}
        {% if (team.ruleset == 0 ) %}
            {% set colspan = 16 %}
        {% else %}
            {% set colspan = 18 %}
        {% endif %}
        <tr>
            <td colspan={{ colspan }} style="text-align:right;">Total joueurs :</td>
            <td style="text-align:right;">{{ tdata.playersCost }}</td>
        </tr>
        <tr>
            <td colspan={{ colspan-3 }} style="text-align:right;">Popularité :</td>
            <td>{{ team.ff + team.ffBought }}</td>
            <td>X</td>
            <td>10000</td>
            <td style="text-align:right;">
                {% if team.ruleset == 0 %}
                    {{ tdata.pop }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan={{ colspan-3 }}  style="text-align:right;">Relances :</td>
            <td>{{ team.rerolls }}</td>
            <td>X</td>
            <td>
                {% if(team.ruleset == 0) %}
                    {{ team.fRace.costRr }}
                {% else %}
                    {{ team.race.costRr }}
                {% endif %}
            </td>
            <td style="text-align:right;">{{ tdata.rerolls }}</td>
        </tr>
        <tr>
            <td colspan={{ colspan-3 }}  style="text-align:right;">Assistants :</td>
            <td>{{ team.assCoaches }}</td>
            <td>X</td>
            <td>10000</td>
            <td style="text-align:right;">{{ tdata.asscoaches }}</td>
        </tr>
        <tr>
            <td colspan={{ colspan-3 }}  style="text-align:right;">Pompom girls :</td>
            <td>{{ team.cheerleaders }}</td>
            <td>X</td>
            <td>10000</td>
            <td style="text-align:right;">{{ tdata.cheerleader }}</td>
        </tr>
        <tr>
            <td colspan={{ colspan-3 }}  style="text-align:right;">Apoticaire :</td>
            <td>{{ team.apothecary }}</td>
            <td>X</td>
            <td>50000</td>
            <td style="text-align:right;">{{ tdata.apo }}</td>
        </tr>
        <tr>
            <td colspan={{ colspan }}  style="text-align:right;">Tv Totale :</td>
            <td style="text-align:right;">{{  tdata.tv }}</td>
        </tr>

    </table>
</div>
</div>
</body>