<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addplayer">
    <span class="fas fa-plus"></span> Ajouter Un joueur
</button>

<div class="modal" id="addplayer" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Ajouter un joueur
            </div>
            <div class="modal-body">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.fPos) }}
            </div>
            <div class="modal-footer">
                {{ form_widget(form.submit , { 'id': 'btn_addplayer' }) }}{{ form_widget(form.cancel) }}
                {{ form_end(form)}}
            </div>
        </div>
    </div>
</div>


