{% extends "statbb/base.html.twig" %}

{% block body %}
    <div class="d-flex m-2 justify-content-center align-content-center">
        <div class="card">
            <div class="card-header">
                <h1>{{ player.name }}</h1>
                <div> {% if player.photo %}
                        <img class="img-fluid" src="{{ asset('uploads/photo_joueur/' ~ player.photo) }}" width="200px"
                             height="100px"><br/>
                        {% if app.user == player.ownedByTeam.ownedByCoach %}
                            <span class="fas fa-trash-alt" joueurId="{{ player.playerId }}" id="supprimePhoto"></span>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="card-body">
                <table class="table table-responsive">
                    <tr>
                        <td>Equipe :</td>
                        <td>
                            {{ player.ownedByTeam.name }} {% if player.ownedByTeam.franchise == true %}
                                <span class="fas fa-tag text-success"></span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Coach :</td>
                        <td>{{ player.ownedByTeam.ownedByCoach.name }}</td>
                    </tr>
                   <tr>
                        <td>Poste :</td>
                        <td>
                            <img src="{{ asset('build/'~app.environment~'/images/player_icons/'~player.icon.iconName~'.gif') }}">
                            {% if player.ruleset == 0%}
                                {{ player.fPos.pos }}
                            {% else %}
                                {{ player.fPosBb2020.pos }}
                            {% endif %}
                        </td>
                 </tr>
                    <tr>
                        <td>Engagé le :</td>
                        <td>{{ player.dateBought|date("d/m/Y") }}</td>
                    </tr>
                    {% if player.status == 1 %}
                        <tr>
                            <td>Status :</td>
                            <td><strong class="text-success">Ok</strong></td>
                        </tr>
                    {% elseif player.status == 9 %}
                        <tr>
                            <td>Status :</td>
                            <td><strong class="text-warning">En attente de monter de niveau</strong></td>
                        </tr>
                    {% elseif player.status == 8 %}
                        <tr>
                            <td>Status :</td>
                            <td><strong class="text-danger">Mort le {{ player.dateDied|date("d/m/Y") }}</strong>
                            </td>
                        </tr>
                    {% elseif player.status == 7 %}
                        <tr>
                            <td>Status :</td>
                            <td><strong class="text-primary">Vendu le {{ player.dateSold|date("d/m/Y") }}</strong>
                            </td>
                        </tr>
                    {% elseif player.injrpm == 1 %}
                        <tr>
                            <td>Status :</td>
                            <td><strong class="text-warning">Blessé</strong></td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>Spp :</td>
                        <td>{{ pdata[0].spp }}</td>
                    </tr>
                    <tr>
                        <td>Nbr de matchs :</td>
                        <td>{{ pdata[0].nbrm }}</td>
                    </tr>
                    <tr>
                        <td>Salaire :</td>
                        <td>{{ pdata[0].cost }}</td>
                    </tr>
                    <tr>
                        <td colspan=2>
                            <table class="table table-responsive">
                                <thead>
                                <tr>
                                    <th>Nr</th>
                                    <th>MA</th>
                                    <th>ST</th>
                                    <th>AG</th>
                                    {% if player.ruleset == 1 %}
                                        <th>CP</th>
                                    {% endif %}
                                    <th>AV</th>
                                    <th>Comp</th>
                                    <th>Cp</th>
                                    <th>Td</th>
                                    <th>Int</th>
                                    <th>Cas</th>
                                    <th>Mvp</th>
                                    <th>Agg</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ player.nr }}</td>
                                    {% if player.achMa>0 %}
                                        <td class="success">
                                    {% elseif  player.injMa>0 %}
                                        <td class="danger">
                                    {% else %}
                                        <td>
                                    {% endif %}
                                            {% if player.ruleset == 0%}
                                                {{ player.fpos.ma + player.achMa - player.injMa }}
                                            {% else %}
                                                {{ player.fPosBb2020.ma + player.achMa - player.injMa }}
                                            {% endif %}
                                        </td>

                                    {% if player.achSt>0 %}
                                        <td class="success">
                                    {% elseif  player.injSt>0 %}
                                        <td class="danger">
                                    {% else %}
                                        <td>
                                    {% endif %}
                                        {% if player.ruleset == 0%}
                                            {{ player.fpos.st + player.achSt - player.injSt }}
                                        {% else %}
                                            {{ player.fPosBb2020.st + player.achSt - player.injSt }}
                                        {% endif %}
                                        </td>

                                    {% if player.achAg>0 %}
                                        <td class="success">
                                    {% elseif  player.injAg>0 %}
                                        <td class="danger">
                                    {% else %}
                                        <td>
                                    {% endif %}
                                            {% if player.ruleset == 0%}
                                                {{ player.fpos.ag + player.achAg - player.injAg }}
                                            {% else %}
                                                {{ player.fPosBb2020.ag + player.achAg - player.injAg}}+
                                            {% endif %}
                                        </td>

                                    {% if player.ruleset == 1%}
                                        {% if player.achCp>0 %}
                                            <td class="success">
                                        {% elseif  player.injCp>0 %}
                                            <td class="danger">
                                        {% else %}
                                            <td>
                                        {% endif %}
                                                {{ player.fPosBb2020.cp + player.achCp - player.injCp }}+
                                            </td>
                                    {% endif %}

                                    {% if player.achAv>0 %}
                                        <td class="success">
                                    {% elseif  player.injAv>0 %}
                                        <td class="danger">
                                    {% else %}
                                        <td>
                                    {% endif %}
                                            {% if player.ruleset == 0%}
                                                {{ player.fpos.av + player.achAv - player.injAv }}
                                            {% else %}
                                                {{ player.fPosBb2020.av + player.achAv - player.injAv }}+
                                            {% endif %}
                                        </td>

                                    <td>{{ pdata[0].skill|raw }}</td>
                                    <td>{{ pdata[0].cp }}</td>
                                    <td>{{ pdata[0].td }}</td>
                                    <td>{{ pdata[0].int }}</td>
                                    <td>{{ pdata[0].cas }}</td>
                                    <td>{{ pdata[0].mvp }}</td>
                                    <td>{{ pdata[0].agg }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>

                <div class="d-flex w-100">
                    <table class="table">
                        {% for match in matches %}
                            <tr>
                            <td class="text-right">
                                {{ match.team1.name }}
                            </td>
                            <td class="text-center">
                                {% if (match.team1.teamId == player.ownedByTeam.teamId and match.team1Score>match.team2Score) or (match.team2.teamId == player.ownedByTeam.teamId and match.team2Score>match.team1Score) %}
                                    <span class="fas fa-check-circle text-success" aria-hidden="true"></span>
                                {% elseif (match.team1.teamId == player.ownedByTeam.teamId and match.team1Score<match.team2Score) or (match.team2.teamId == player.ownedByTeam.teamId and match.team2Score<match.team1Score) %}
                                    <span class="fas fa-check-circle text-danger" aria-hidden="true"></span>
                                {% elseif (match.team1.teamId == player.ownedByTeam.teamId and match.team1Score==match.team2Score) or (match.team2.teamId == player.ownedByTeam.teamId and match.team1Score==match.team2Score) %}
                                    <span class="fas fa-check-circle text-warning" aria-hidden="true"></span>
                                {% endif %}
                                {{ match.team1Score }}-{{ match.team2Score }}
                            </td>
                            <td>
                                {{ match.team2.name }}
                            </td>
                            {% for data in mdata %}
                                {% if data.mId == match.matchId %}
                                    <tr>
                                        <td colspan=3 class="text-center">
                                            {{ data.data }}
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                {% if app.user == player.ownedByTeam.ownedByCoach %}
                <div class="d-flex">
                    {{ render(controller('App\\Controller\\JoueurController::uploadPhoto', {'joueurId' : player.playerId} )) }}
                </div>
                {%  endif %}
            </div>
        </div>
    </div>
{% endblock %}