<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addplayer">
    <span class="fas fa-plus"></span> Ajouter Un joueur
</button>

<div class="modal" id="addplayer" data-backdrop="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Ajouter un joueur</h4><br/>
                Trésorerie restante : <span id="tresor2">{{ equipe.treasury }}</span>
            </div>
            <div class="modal-body">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {{ form_row(form.name, { 'id': 'player_futur_nom' }) }}
                {{ form_row(form.nr, { 'id': 'player_futur_numero' }) }}
                {% if equipe.ruleset == 0 %}
                    {{ form_row(form.fPos, { 'id': 'player_position' }) }}
                {% else %}
                    {{ form_row(form.fPosBb2020, { 'id': 'player_position' }) }}
                {% endif %}
            </div>
            <div class="modal-footer">
                {{ form_row(form.ruleset,  { 'id': 'ruleset' }) }}
                {{ form_row(form.ownedByTeam, { 'id': 'equipe_Id' }) }}
                {{ form_widget(form.submit , { 'id': 'btn_addplayer' }) }}{{ form_widget(form.cancel) }}
                {{ form_end(form)}}
            </div>
        </div>
    </div>
</div>


