<a data-toggle="collapse" href="#calculScore">
    Afficher le theme Blood bowlistique
</a>
<div class="collapse" id="calculScore">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <th>
                    Match
                </th>
                <th>
                    Score Debut Match
                </th>
                <th>
                    Score Adversaire
                </th>
                <th>
                    Résultat
                </th>
                <th>
                    Mouvement
                </th>
                <th>
                    Bonus
                </th>
                <th>
                    Total
                </th>
                <th>
                    Ajustement
                </th>
            </thead>
            <tbody>
            {% if table is not empty %}
                {% for tab in table %}
                    <tr>
                        <td>
                            M{{ loop.index }} <a href="{{ path('match', {'matchId': tab.match.matchId}) }}">Voir</a>
                        </td>
                        <td>
                            {{ tab.scoreDebutMatch }}
                        </td>
                        <td>
                            {{ tab.scoreAdv }}<br/>
                            <a href="{{ path('team', {'teamid': tab.equipeAdv.teamid }) }}"> {{ tab.equipeAdv.name }}</a>
                        </td>
                        <td>
                            {% if tab.resultat == 'victoire' %}
                                <span class="fas fa-check-circle text-success" aria-hidden="true"></span>
                            {% endif %}
                            {% if tab.resultat == 'défaite' %}
                                <span class="fas fa-check-circle text-danger" aria-hidden="true"></span>
                            {% endif %}
                            {% if tab.resultat == 'Egalite' %}
                                <span class="fas fa-check-circle text-warning" aria-hidden="true"></span>
                            {% endif %}
                        </td>
                        <td>
                            {{ tab.mouvement }}
                        </td>
                        <td>
                            {{ tab.bonus }}
                        </td>
                        <td>
                            {{ tab.mouvementTotal }}
                        </td>
                        <td>
                            {{ tab.ajustement }}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>