{% if limit == 0 %}
<div class="modal-header">
    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h3 class="text-center">{{ title }}</h3>
</div>
<div class="modal-body">
    {% endif %}
    {% if limit != 0 %}
        <h3 class="text-center">{{ title }}</h3>
    {% endif %}
    <div class="table-responsive">
        {% if class == 'class_Tbash' %}
            {{ render(controller('App\\Controller\\ClassementController::affichetotalCas' )) }}
        {% endif %}
          <table class="table table-striped" id="{{ class }}">
            <tbody>
            {% for team in teams %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ team.name }}</td>
                    <td>{{ team.score }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if limit == 0 %}

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
    </div>
</div>
{% endif %}
{% if limit > 0 %}

    <a type="button" class="btn btn-primary" data-toggle="modal"
       href="{{ path('classement',{'type':type,'teamorplayer':teamorplayer,'limit':0}) }}" data-target="#clt{{ type }}">Toutes
        les équipes</a>

    <div class="modal fade" id="clt{{ type }}">
        <div class="modal-dialog">
            <div class="modal-content">
                <img src="{{ asset('build/images/big-loader.gif') }}" class="img-responsive center-block">
            </div>
        </div>
    </div>
{% endif %}