{% if limit == 0 %}
    <div class="modal-header">
        <h5 class="text-center">{{ title }}</h5>
        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
    </div>
<div class="modal-body">
    {% endif %}
    {% if limit != 0 %}
        <h5 class="text-center">{{ title }}</h5>
    {% endif %}
    <div class="table-responsive">
        {% if class == 'class_Tbash' %}
            {{ render(controller('App\\Controller\\ClassementController::affichetotalCas' )) }}
        {% endif %}
        <table class="table table-striped" id="{{ class }}">
            <tbody>
            {% for team in teams %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="{{ path('team', {'teamid': team.teamId }) }}">{{ team.name }}</a></td>
                    <td>{{ team.score }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if limit == 0 %}

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
    </div>
</div>
{% endif %}

{% if limit > 0 %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#clt{{ type }}">
        Toutes les équipes
    </button>

    <div class="modal fade" id="clt{{ type }}">
        <div class="modal-dialog">
            <div class="modal-content">
                {{ render(controller('App\\Controller\\ClassementController::afficheSousClassementsEquipe',{'type': type,'limit':0, 'annee': annee} )) }}
            </div>
        </div>
    </div>
{% endif %}