{% extends 'statbb\\base.html.twig' %}


{% block body %}

<div class="container-fluid">
	<div class="panel">
		<div class="panel-heading">
			<div class="row"><div class="col-md-1 col-xs-1"><img src="{{ asset('build/images/race_icons/'~team.fRace.icon~'.png') }}" ></div><div class="col-md-11 col-xs-11"><h1>{{team.name}}</h1></div></div>
		</div>
		<button type="button" id="showall_btn" class="btn btn-primary">
			  Show All players
		</button>		
		<div class="panel-body table-responsive">
			<table class="table" id="teamsheet">
				<thead>
					<tr>
						<th></th>
						<th>Nr</th>
						<th>Name</th>
						<th>Position</th>
						<th>MA</th>
						<th>ST</th>
						<th>AG</th>
						<th>AV</th>
						<th>Skill</th>
						<th>NbrG</th>
						<th>Stat</th>
						<th>Cp</th>
						<th>Td</th>
						<th>Int</th>
						<th>Cas</th>
						<th>Mvp</th>
						<th>Agg</th>
						<th>Spp</th>
						<th>Cost</th>
					</tr>
				</thead>
				<tbody>
				{% for player in players %}

					{% if (player.status == 8)  %}
					<tr class="danger hidden" >
					{% elseif player.status == 7 %}
					<tr class="info hidden">
					{% elseif (player.injrpm == 1  or player.status ==9)  %}
					<tr class="warning">
					{% else %}
					<tr>		
					{% endif %}
					
					{%if app.user and team.retired == 0%}
						<td><span class="glyphicon glyphicon-remove text-danger" playerId="{{player.playerId}}" id="remove_pl_{{player.playerId}}"></span></td>
					{% else %}
						<td><span class="glyphicon glyphicon-remove text-danger"></span></td>
					{% endif %}				
						<td><div id="number_{{player.playerId}}" playerid="{{player.playerId}}">{{player.nr}}</div></td>
					<td><div id="name_{{player.playerId}}" playerid="{{player.playerId}}">{{player.name}} <a class="glyphicon glyphicon-search" href="{{ path('Player', {'id': player.playerId,'type':'n' }) }}"></a>
						{% if player.type == 2 %}
						<p class="glyphicon glyphicon-euro" />
						{% endif %}
						{% if player.status == 9 %} 
						<p  class="glyphicon glyphicon-arrow-up" />
						{% endif %}						
					    </div></td>
						<td><img src="{{ asset('build/images/player_icons/'~player.fpos.icon~'.gif') }}" class=".img-responsive">{{player.fpos.pos}}</td>	
						
						{% if player.achMa>0 %}
						<td class="success">{{player.fpos.ma + player.achMa - player.injMa}}</td>
						{% elseif  player.injMa>0%}
						<td class="danger">{{player.fpos.ma + player.achMa - player.injMa}}</td>
						{% else %}
						<td>{{player.fpos.ma + player.achMa - player.injMa}}</td>
						{% endif %}
						
						{% if player.achSt>0 %}
						<td class="success">{{player.fpos.st + player.achSt - player.injSt}}</td>
						{% elseif  player.injSt>0%}
						<td class="danger">{{player.fpos.st + player.achSt - player.injSt}}</td>
						{% else %}
						<td>{{player.fpos.st + player.achSt - player.injSt}}</td>
						{% endif %}

						{% if player.achAg>0 %}
						<td class="success">{{player.fpos.ag + player.achAg - player.injAg}}</td>
						{% elseif  player.injAg>0%}
						<td class="danger">{{player.fpos.ag + player.achAg - player.injAg}}</td>
						{% else %}
						<td>{{player.fpos.ag + player.achAg - player.injAg}}</td>
						{% endif %}

						{% if player.achAv>0 %}
						<td class="success">{{player.fpos.av + player.achAv - player.injAv}}</td>
						{% elseif  player.injAv>0%}
						<td class="danger">{{player.fpos.av + player.achAv - player.injAv}}</td>
						{% else %}
						<td>{{player.fpos.av + player.achAv - player.injAv}}</td>
						{% endif %}
						
						{% for data in pdata %}
							{%if data.pid == player.playerId %}				
						<td>{{data.skill|raw}}</td>
						<td>{{data.nbrm}}</td>
						{% if data.status=='PX' %}
                            <td>{{ render(controller('App\\Controller\\StatBBController::skillmodal',{'playerid':player.playerId} )) }}</td>
						{% else %}
						<td>{{data.status}}</td>
						{% endif %}
						<td>{{data.cp}}</td>
						<td>{{data.td}}</td>
						<td>{{data.int}}</td>
						<td>{{data.cas}}</td>
						<td>{{data.mvp}}</td>
						<td>{{data.agg}}</td>
						<td>{{data.spp}}</td>
						<td class="text-right">{{data.cost}}</td>
							{% endif%}
						{% endfor %}

					</tr>
				{%endfor%}
				</table>
				{%if app.user and team.retired == 0%}
					{{ render(controller('App\\Controller\\StatBBController::player_adder',{'raceId':team.fRace.raceId,'teamId':team.teamId} )) }}
					<a type="button" class="btn btn-primary" href="{{ path('Chkteam', {'teamId': team.teamId} ) }}">Check Equipe</a>
				{% endif %}
				<table class="table">
				<tr>
					<td colspan =7 rowspan=7 ></td><td rowspan=7 ><img src="{{ asset('build/images/race_icons/'~team.fRace.icon~'.png') }}" ></td>
					<td colspan =4 >Coach : {{team.ownedByCoach.name}}</td>
					<td colspan =5 class="text-right">Valeur totale des joueurs :</td>
                    <td class="text-right" id="totalPV">{{tdata.playersCost}}</td>
				</tr>
				<tr>
					<td colspan =4 >Races : {{team.fRace.name}}</td><td colspan =3 class="text-right"> Relance : </td><td colspan =2>
					{%if app.user and team.retired == 0%}
						<span class="glyphicon glyphicon-plus text-success" id="add_rr" type="rr" teamId = "{{team.teamId}}"></span>
					{% endif %}					
					<span id="rr">{{team.rerolls}}</span> 
					{%if app.user and team.retired == 0%}
						<span class="glyphicon glyphicon-minus text-danger"id="rem_rr" type="rr" teamId = "{{team.teamId}}"></span>
					{% endif %}					
					x {{team.fRace.costRr}}</td><td class="text-right" id="trr">{{tdata.rerolls}}</td>
				</tr>
				<tr>
					<td colspan =4 >Trésor : <span id="tresor">{{team.treasury}}</span></td><td colspan =3 class="text-right"> Popularité : </td>
					<td colspan =2>
					{%if app.user and team.retired == 0%}
						<span class="glyphicon glyphicon-plus text-success" id="add_pop" type="pop" teamId = "{{team.teamId}}"></span>
					{% endif %}
					<span id="pop">{{team.ff + team.ffBought}}</span> 
					{%if app.user and team.retired == 0%}
						<span class="glyphicon glyphicon-minus text-danger" id="rem_pop" type="pop" teamId = "{{team.teamId}}"></span>
					{% endif %}											
					x 10000					
					</td> 				
					<td class="text-right" id="tpop">{{tdata.pop}}</td>
				</tr>
				<tr>
					<td colspan =4 >TV : <span id="pTv">{{tdata.tv/1000}}</span></td><td colspan =3 class="text-right"> Ass. Coach : </td>
					<td colspan =2>
					{%if app.user and team.retired == 0%}
						<span class="glyphicon glyphicon-plus text-success" id="add_ac" type="ac" teamId = "{{team.teamId}}"></span>
					{% endif %}	
					<span id="ac">{{team.assCoaches}}</span>
					{%if app.user and team.retired == 0%}
						<span class="glyphicon glyphicon-minus text-danger" id="rem_ac" type="ac" teamId = "{{team.teamId}}"></span>
					{% endif %}						
					x 10000
					</td><td class="text-right" id="tac">{{tdata.asscoaches}}</td>
				</tr>
				<tr>
					<td colspan =4 >ELO : {{team.elo}}</td><td colspan =3 class="text-right"> Cheerleaders : </td>
					<td colspan =2>
					{%if app.user and team.retired == 0%}
						<span class="glyphicon glyphicon-plus text-success" id="add_chl" type="chl" teamId = "{{team.teamId}}"></span>
					{% endif %}						
					<span id="chl">{{team.cheerleaders}}</span>
					{%if app.user and team.retired == 0%}
						<span class="glyphicon glyphicon-minus text-danger" id="rem_chl" type="chl" teamId = "{{team.teamId}}"></span>
					{% endif %}												
					x 10000</td> <td class="text-right" id="tchl">{{tdata.cheerleader}}</td>
				</tr>
				<tr>
					<td colspan =4 >Stadium : {{team.stadiumName}}</td><td colspan =3 class="text-right"> Apothicaire : </td>
					<td colspan =2>
					{%if app.user and team.retired == 0%}
						<span class="glyphicon glyphicon-plus text-success" id="add_apo" type="apo" teamId = "{{team.teamId}}"></span>
					{% endif %}								
					<span id="apo">{{team.apothecary}}</span>
					{%if app.user and team.retired == 0%}
						<span class="glyphicon glyphicon-minus text-danger" id="rem_apo" type="apo" teamId = "{{team.teamId}}"></span>
					{% endif %}									
					x 50000</td> <td class="text-right" id="tapo">{{tdata.apo}}</td>
				</tr>
				<tr>
					<td colspan =4 rowspan=1></td><td colspan =5 class="text-right">Total : </td><td class="text-right" id="caseTv" >{{tdata.tv}}</td>
				</tr>

			</table>
		</div>
	</div>
</div>



{% endblock %}
