<tr>						
	<td>{{player.nr}}</td>
	<td>Inconnu</td>
	<td><img src="{{ asset('build/images/player_icons/'~position.icon~'.gif') }}" class=".img-responsive">{{position.pos}}</td>	
	<td>{{position.ma}}</td>
	<td>{{position.st}}</td>
	<td>{{position.ag}}</td>
	<td>{{position.av}}</td>
	<td>{{skill|raw}}</td>
	<td>0</td>
	<td></td>
	<td>0</td>
	<td>0</td>
	<td>0</td>
	<td>0</td>
	<td>0</td>
	<td>0</td>
	<td>0</td>
	<td class="text-right">{{position.cost}}</td>

</tr>