{% extends "statbb/base.html.twig" %}
      
{% block body %}
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                <li><a data-toggle="tab" href="#allteam">Toutes les équipes</a></li>
                <li><a data-toggle="tab" href="#classement">Classement général</a></li>
                {% if app.user.roles["role"] == 'ROLE_ADMIN' %}
                    <li><a data-toggle="tab" href="#match">Ajouter un match</a></li>
                {% endif %}
            </ul>

            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <h3>HOME</h3>
                    {{ render(controller('App\\Controller\\StatBBController::show_user_teams' )) }}
                    {{ render(controller('App\\Controller\\StatBBController::raceSelector' )) }}
                </div>
                <div id="allteam" class="tab-pane fade">
                    <h3>Toute les équipes</h3>
                    {{ render(controller('App\\Controller\\StatBBController::show_teams' )) }}
                </div>
                <div id="match" class="tab-pane fade">
                    <h3>Ajouter un match</h3>
                    <form id="formMatch">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-5 col-lg-5 col-md-5">
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label>Gain</label>
                                                <input type="text" side="1" name="gain1" value="0">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label>Score</label>
                                                <input type="text" side="1" name="score1" value="0">
                                            </div>
                                        </div>
                                    </div>
                                    {{ render(controller('App\\Controller\\StatBBController::dropdownTeams',{'nbr':1} )) }}
                                    <label>Variation de popularité</label>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-2 col-lg-2 col-md-2">
                                            </div>
                                            <div class="col-sm-2 col-lg-2 col-md-2">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="varpop_team1" id="optionsRadios2"
                                                               value="-1">
                                                        -1
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-lg-2 col-md-2">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="varpop_team1" id="optionsRadios2"
                                                               value="0" checked>
                                                        0
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-lg-2 col-md-2">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="varpop_team1" id="optionsRadios1"
                                                               value="1">
                                                        1
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-lg-2 col-md-2">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-lg-2 col-md-2">
                                    vs
                                </div>
                                <div class="col-sm-5 col-lg-5 col-md-5">
                                    <div class="row">
                                        <div class="col-sm-6 col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label>Score</label>
                                                <input type="text" side="2" name="score2" value="0">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <label>Gain</label>
                                                <input type="text" side="2" name="gain2" value="0">
                                            </div>
                                        </div>
                                    </div>
                                    {{ render(controller('App\\Controller\\StatBBController::dropdownTeams',{'nbr':2} )) }}
                                    <label>Variation de popularité</label>
                                    <div class="row">
                                        <div class="form-group">
                                            <div class="col-sm-2 col-lg-2 col-md-2">
                                            </div>
                                            <div class="col-sm-2 col-lg-2 col-md-2">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="varpop_team2" id="optionsRadios2"
                                                               value="-1">
                                                        -1
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-lg-2 col-md-2">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="varpop_team2" id="optionsRadios2"
                                                               value="0" checked>
                                                        0
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-lg-2 col-md-2">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="varpop_team2" id="optionsRadios1"
                                                               value="1">
                                                        1
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-2 col-lg-2 col-md-2">
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div clas="form-group">
                                <label>Total popularité</label>
                                <input type="text" name="totalpop" value="0">
                            </div>
                            <button id="recMatch" type="button" class="btn btn-default"> Valider</button>
                        </div>
                    </form>
                </div>
                <div id="classement" class="tab-pane fade">
                    {{ render(controller('App\\Controller\\StatBBController::class_gen',{'limit':0} )) }}
                </div>
            </div>
        </div>
        </div>
    </div>

{% endblock %}
		
