{% extends 'statbb/base.html.twig' %}

{% block title %}Teams index{% endblock %}

{% block body %}
    <div class="m-2">
        <div class="card">
            <h1>Teams index</h1>
            <a href="{{ path('Admin') }}">Retour</a>
            <table class="table" id="Admin" entity="Teams">
                <thead>
                <tr>
                    <th>TeamId</th>
                    <th>Name</th>
                    <th>Race</th>
                    <th>Proprietaire</th>
                    <th>Treasury</th>
                    <th>Apothecary</th>
                    <th>Rerolls</th>
                    <th>FfBought</th>
                    <th>AssCoaches</th>
                    <th>Cheerleaders</th>
                    <th>Retired</th>
                    <th>Ff</th>
                    <th>Elo</th>
                    <th>Tv</th>
                    <th>Year</th>
                    <th>Logo</th>
                    <th>Franchise</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for team in teams %}
                    <tr>
                        <td>{{ team.teamId }}</td>
                        <td><a href="#" data-type="text" data-pk="{{ team.teamId }}" data-name="Name" id="admin_teams_name_{{ loop.index }}"> {{ team.name }}</a></td>
                        <td>{{ team.fRace.name }}</td>
                        <td>{{ team.ownedByCoach.name }}</td>
                        <td><a href="#" data-type="number" data-pk="{{ team.teamId }}" data-name="Treasury" id="admin_teams_treasury_{{ loop.index }}"> {{ team.treasury }}</a></td>
                        <td><a href="#" data-type="number" data-pk="{{ team.teamId }}" data-name="Apothecary" id="admin_teams_apo_{{ loop.index }}"> {{ team.apothecary }}</a></td>
                        <td><a href="#" data-type="number" data-pk="{{ team.teamId }}" data-name="Rerolls" id="admin_teams_apo_{{ loop.index }}">{{ team.rerolls }}</a></td>
                        <td><a href="#" data-type="number" data-pk="{{ team.teamId }}" data-name="FfBought" id="admin_teams_ffb_{{ loop.index }}">{{ team.ffBought }}</a></td>
                        <td><a href="#" data-type="number" data-pk="{{ team.teamId }}" data-name="AssCoaches" id="admin_teams_Asscoaches_{{ loop.index }}">{{ team.assCoaches }}</a></td>
                        <td><a href="#" data-type="number" data-pk="{{ team.teamId }}" data-name="Cheerleaders" id="admin_teams_cheers_{{ loop.index }}">{{ team.cheerleaders }}</a></td>
                        <td>{{ team.retired ? 'Yes' : 'No' }}</td>
                        <td><a href="#" data-type="number" data-pk="{{ team.teamId }}" data-name="Ff" id="admin_teams_ff_{{ loop.index }}">{{ team.ff }}</a></td>
                        <td>{{ team.elo }}</td>
                        <td><a href="#" data-type="number" data-pk="{{ team.teamId }}" data-name="Tv" id="admin_teams_tv_{{ loop.index }}">{{ team.tv }}</a></td>
                        <td>{{ etiquetteAnne[team.year] }}</td>
                        <td>
                            {% if (team.logo != null) %}
                            <img class="img-fluid" src="{{ asset('uploads/logo_equipe/' ~ team.logo) }}">
                            {% endif %}
                        </td>
                        <td>{{ team.franchise ? 'Yes' : 'No' }}</td>
                        <td>
                            <a href="{{ path('teams_edit', {'teamId': team.teamId}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="16">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('teams_new') }}">Create new</a>
        </div>
    </div>
{% endblock %}
