{% extends 'statbb/base.html.twig' %}

{% block title %}Tous les joueurs{% endblock %}

{% block body %}
<div class="m-2">
    <div class="card">
    <h1>Joueurs</h1>
        <a href="{{ path('Admin') }}">Retour</a>
    <table class="table" id="Admin" entity="Players">
        <thead>
            <tr>
                <th>Id du joueur</th>
                <th>Numero</th>
                <th>Nom</th>
                <th>Equipe</th>
                <th>Position</th>
                <th>Status</th>
                <th>Valeur</th>
                <th>Photo</th>
                <th>Ruleset</th>
                <th>icone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td>{{ player.playerId }}</td>
                <td><a href="#" data-type="number" data-pk="{{ player.playerId }}" data-name="Nr" id="admin_player_number_{{ loop.index }}"> {{ player.nr }}</a></td>
                <td><a href="#" data-type="text" data-pk="{{ player.playerId }}" data-name="Name" id="admin_player_name_{{ loop.index }}"> {{ player.name }}</a></td>
                <td>{{ player.ownedByTeam.name }}</td>
                <td>
                    {% if(player.ruleset == 0) %}
                        {{ player.fPos.pos }}
                    {% else %}
                        {{ player.fPosBb2020.pos }}
                    {% endif %}
                </td>
                <td>
            {% if player.status == 1 %}
                    <strong class="text-success">Ok</strong>
            {% elseif player.status == 9 %}
                    <strong class="text-warning">En attente de monter de niveau</strong>
            {% elseif player.status == 8 %}
                    <strong class="text-danger">Mort</strong>
            {% elseif player.status == 7 %}
                    <strong class="text-primary">Vendu</strong>
            {% elseif player.injrpm == 1 %}
                    <strong class="text-warning">Blessé</strong>
            {% endif %}
                </td>
                <td><a href="#" data-type="number" data-pk="{{ player.playerId }}" data-name="value" id="admin_player_value_{{ loop.index }}">{{ player.value }}</a></td>
                <td>{{ player.photo }}</td>
                <td>{{ etiquetteRuleset[player.ruleset] }}</td>
                <td><img src="{{ asset('build/'~app.environment~'/images/player_icons/'~player.icon.iconName~'.gif') }}" class=".img-responsive"></td>
                <td>
                   <a href="{{ path('players_edit', {'playerId': player.playerId}) }}">editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="23">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{#    <a href="{{ path('players_new') }}">Create new</a>#}
    </div>
</div>
{% endblock %}
