<div class="table-responsive">
    <table class="table" id="TablePrimes" style="width: 100%">
        <thead>
        <tr>
            <td>Cible</td>
            <td>Montant</td>
            <td>Equipe bénéficiaire</td>
            {% if app.user.roles["role"] == 'ROLE_ADMIN' %}
                <td>Action</td>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for prime in primeCollection %}
            {% if(prime.equipePrime != null) %}
                <tr style="text-decoration : line-through;">
            {% else %}
                <tr>
            {% endif %}
            <td>
                {% if(prime.players.name|length == 2) %}
                    Inconnu
                {% else %}
                    {{ prime.players.name }}
                {% endif %}
                , {{ prime.players.Fpos.pos }}
                de {{ prime.players.OwnedByTeam.name }}{% if prime.players.OwnedByTeam.franchise == true %}
                <span class="fas fa-tag text-success"></span>
                {% endif %}, {{ prime.players.OwnedByTeam.fRace.name }}
                <a
                        class="fas fa-search"
                        href="{{ path('Player', {'playerid': prime.players.playerId }) }}"></a></td>
            <td>{{ prime.montant }}</td>
            <td>
                {% if(prime.equipePrime != null) %}
                {{ prime.equipePrime.name }}
                {% endif %}
            </td>
            {% if app.user.roles["role"] == 'ROLE_ADMIN' %}
                <td><i class="fas fa-times text-danger" id="enleve_prime_{{ prime.id }}" primeId="{{ prime.id }}"></i>
                </td>
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% if app.user.roles["role"] == 'ROLE_ADMIN' %}
    {{ render(controller('App\\Controller\\PrimeController::ajoutPrimeForm')) }}
    {{ render(controller('App\\Controller\\PrimeController::realiserPrimeForm')) }}
{% endif %}