<h1 class="text-center">Classement Général {{ etiquette }}</h1>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#classementGen">Classement général</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#detailClass">Détails</a>
    </li>
</ul>
<div class="tab-content">
    <div id="classementGen" class="tab-pane fade show active">
        <div class="table-responsive">
            <br>
            <table class="table table-striped" id="classgen">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Equipe</th>
                    <th></th>
                    <th>Race</th>
                    <th>Coach</th>
                    <th>G</th>
                    <th>N</th>
                    <th>P</th>
                    <th>Pts</th>
                    <th>NbrM</th>
                    <th>TV</th>
                </tr>
                </thead>
                <tbody>
                {% for ligne in classement %}
                    <tr>
                        <td class="pos">{{ loop.index }}</td>
                        <td><a href="{{ path('team', {'teamid': ligne.total.equipe.teamId }) }}">{{ ligne.total.equipe.name }}</a>
                            {% if ligne.total.equipe.franchise == true %}
                                <span class="fas fa-tag text-success"></span>
                            {% endif %}
                        </td>
                        <td>
                            {% if ligne.total.equipe.logo %}
                                <img src="{{ asset('uploads/logo_equipe/' ~ ligne.total.equipe.logo) }}" class="img-fluid">
                            {% else %}
                                <img src="
                                    {% if ligne.total.equipe.ruleset == 0 %}
                                        {{ asset('build/'~app.environment~'/images/race_icons/'~ligne.total.equipe.frace.icon~'.png') }}
                                    {% else %}
                                        {{ asset('build/'~app.environment~'/images/race_icons/'~ligne.total.equipe.race.icon~'.png') }}
                                    {% endif %}
                                ">
                            {% endif %}
                        </td>
                        <td>
                            {% if ligne.total.equipe.ruleset == 0 %}
                                {{ ligne.total.equipe.frace.name }}
                            {% else %}
                                {{ ligne.total.equipe.race.name }}
                            {% endif %}
                        </td>
                        <td>{{ ligne.total.equipe.ownedByCoach.username }}</td>
                        <td>{{ ligne.total.gagne }}</td>
                        <td>{{ ligne.total.egalite }}</td>
                        <td>{{ ligne.total.perdu }}</td>
                        <td>{{ ligne.pointTotaux }}</td>
                        <td>{{ ligne.nbr }}</td>
                        <td>{{ ligne.total.equipe.tv/1000}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="detailClass" class="tab-pane fade show">
        {{ render(controller('App\\Controller\\ClassementController::classGenDetail', {'annee': annee})) }}
    </div>
</div>



