<h1 class="text-center">Classement Général {{ etiquette }}</h1>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#classementGen">Classement général</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#detailClass">Détails</a>
    </li>
</ul>
<div class="tab-content">
    <div id="classementGen" class="tab-pane fade show active">
        <div class="table-responsive">
            <br>
            <table class="table table-striped" id="classgen">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Equipe</th>
                    <th></th>
                    <th>Race</th>
                    <th>Coach</th>
                    <th>G</th>
                    <th>N</th>
                    <th>P</th>
                    <th>Pts</th>
                    <th>NbrM</th>
                    <th>TV</th>
                </tr>
                </thead>
                <tbody>
                {% for team in classement %}
                    <tr>
                        <td class="pos">{{ loop.index }}</td>
                        <td><a href="{{ path('team', {'teamid': team.equipe.teamId }) }}">{{ team.equipe.name }}</a>
                            {% if team.equipe.franchise == true %}
                                <span class="fas fa-tag text-success"></span>
                            {% endif %}</td></td>
                        <td>
                            {% if team.equipe.logo %}
                                <img src="{{ asset('uploads/logo_equipe/' ~ team.equipe.logo) }}" class="img-fluid">
                            {% else %}
                                <img src="{{ asset('build/'~app.environment~'/images/race_icons/'~team.equipe.frace.icon~'.png') }}">
                            {% endif %}
                        </td>
                        <td>{{ team.equipe.frace.name }}</td>
                        <td>{{ team.equipe.ownedByCoach.name }}</td>
                        <td>{{ team.G }}</td>
                        <td>{{ team.N }}</td>
                        <td>{{ team.P }}</td>
                        <td>{{ team.pts }}</td>
                        <td>{{ team.nbrg }}</td>
                        <td>{{ team.equipe.tv/1000}}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="detailClass" class="tab-pane fade show">
        {{ render(controller('App\\Controller\\ClassementController::classGenDetail', {'annee': annee})) }}
    </div>
</div>



