<div class="tab-content">
    <div id="classementGenDet" class="tab-pane fade show active">
        <div class="table-responsive">
            <br>
            <table class="table table-striped" id="classgenDet">
                <thead>
                <tr>
                    <th>Equipe</th>
                    <th>Td+</th>
                    <th>Td-</th>
                    <th>Td Average</th>
                    <th>Sort +</th>
                    <th>Sort -</th>
                    <th>Sort Average</th>
                    <th>Pts Bonus</th>
                    <th>Penalités</th>
                </tr>
                </thead>
                <tbody>
                {% for ligne in classementDet %}
                    <tr>
                        <td><a href="{{ path('team', {'teamId': ligne.total.equipe.teamId }) }}">{{ ligne.total.equipe.name }}</a>{% if ligne.total.equipe.franchise == true %}
                            <span class="fas fa-tag text-success"></span>
                            {% endif %}</td>
                        <td>{{ ligne.total.tdPour }}</td>
                        <td>{{ ligne.total.tdContre }}</td>
                        <td>{{ ligne.tdAverage }}</td>
                        <td>{{ ligne.total.casPour }}</td>
                        <td>{{ ligne.total.casContre }}</td>
                        <td>{{ ligne.casAverage }}</td>
                        <td>{{ ligne.total.bonus }}</td>
                        <td>{% if(ligne.total.penalite != 0) %} - {% endif %} {{ ligne.total.penalite }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>