<div class="table-responsive">
    <table class="table table-striped" id="TableElo" style="width: 100%">
        <thead>
        <tr>
            <td>Nom Du Coach</td>
            <td>Equipe</td>
            <td>Race</td>
            <td>Tv</td>
            <td>Elo</td>
        </tr>
        </thead>
        <tbody>
        {%  for equipe in equipeCollection %}
            <tr>
                <td>{{ equipe.ownedByCoach.name }}</td>
                <td>
                    {{ equipe.name }}
                    {% if equipe.franchise == true %}
                        <span class="fas fa-tag text-success"></span>
                    {% endif %}
                </td>
                <td>
                    {% if equipe.ruleset == 0 %}
                        {{ equipe.fRace.name }}
                    {% else %}
                        {{ equipe.race.name }}
                    {% endif %}
                </td>
                <td>{{ equipe.tv/1000 }}</td>
                <td>{{ equipe.elo}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>