<div class="table-responsive" >
    <table class="table table-striped" id="listeMatchs" style="width: 100%">
        <thead>
            <th>Equipe 1</th>
            <th></th>
            <th>Equipe 2</th>
            <th>Score</th>
            <th>date</th>
            <th>Lien</th>
        </thead>
        <tbody>
        {% for match in matches %}
        <tr>
            <td>{{ match.team1.name }} {% if match.team1.franchise == true %}
                <span class="fas fa-tag text-success"></span>
                {% endif %}
                (
                {% if match.team1.ruleset == 0 %}
                    {{ match.team1.fRace.name }}
                {% else %}
                    {{ match.team1.Race.name }}
                {% endif %}
                , {{ match.tv1/1000 }}
                de {{ match.team1.ownedByCoach.username }} )
            </td>
            <td> Vs</td>
            <td>{{ match.team2.name }} {% if match.team2.franchise == true %}
                <span class="fas fa-tag text-success"></span>
                {% endif %}(
                {% if match.team2.ruleset == 0 %}
                    {{ match.team2.fRace.name }}
                {% else %}
                    {{ match.team2.Race.name }}
                {% endif %}
                , {{ match.tv2/1000 }}
                de {{ match.team2.ownedByCoach.username }} )
            </td>
            <td>{{ match.team1Score }} - {{ match.team2Score }}</td>
            <td>{{ match.dateCreated|date("d/m/Y") }}</td>
            <td class="text-center text-nowrap"><a
                    href="{{ path('match', {'matchId': match.matchId}) }}">Voir</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>