{% extends 'statbb/base.html.twig' %}

{% block title %}Matches index{% endblock %}

{% block body %}
<div class="m-2">
    <div class="card">
    <h1>Matches index</h1>
        <a href="{{ path('Admin') }}">Retour</a>
    <table class="table" id="Admin" entity="Match">
        <thead>
            <tr>
                <th>MatchId</th>
                <th>Team 1</th>
                <th>Team 2</th>
                <th>Fans</th>
                <th>Ffactor1</th>
                <th>Ffactor2</th>
                <th>Income1</th>
                <th>Income2</th>
                <th>Team1Score</th>
                <th>Team2Score</th>
                <th>Tv1</th>
                <th>Tv2</th>
                <th>Depense1</th>
                <th>Depense2</th>
                <th>StadeAcceuil</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for match in matches %}
            <tr>
                <td>{{ match.matchId }}</td>
                <td>{{ match.team1.name }}</td>
                <td>{{ match.team2.name }}</td>
                <td><a href="#" data-type="number" data-pk="{{ match.matchId }}" data-name="Fans" id="admin_match_fans_{{ loop.index }}">{{ match.fans }}</td>
                <td><a href="#" data-type="number" data-pk="{{ match.matchId }}" data-name="Ffactor1" id="admin_match_ff1_{{ loop.index }}">{{ match.ffactor1 }}</a></td>
                <td><a href="#" data-type="number" data-pk="{{ match.matchId }}" data-name="Ffactor2" id="admin_match_ff2_{{ loop.index }}">{{ match.ffactor2 }}</a></td>
                <td><a href="#" data-type="number" data-pk="{{ match.matchId }}" data-name="Income1" id="admin_match_inc1_{{ loop.index }}">{{ match.income1 }}</a></td>
                <td><a href="#" data-type="number" data-pk="{{ match.matchId }}" data-name="Income2" id="admin_match_inc2_{{ loop.index }}">{{ match.income2 }}</a></td>
                <td><a href="#" data-type="number" data-pk="{{ match.matchId }}" data-name="Team1Score" id="admin_match_score1_{{ loop.index }}">{{ match.team1Score }}</a></td>
                <td><a href="#" data-type="number" data-pk="{{ match.matchId }}" data-name="Team2Score" id="admin_match_score2_{{ loop.index }}">{{ match.team2Score }}</a></td>
                <td><a href="#" data-type="number" data-pk="{{ match.matchId }}" data-name="Tv1" id="admin_match_tv1_{{ loop.index }}">{{ match.tv1 }}</a></td>
                <td><a href="#" data-type="number" data-pk="{{ match.matchId }}" data-name="Tv2" id="admin_match_tv2_{{ loop.index }}">{{ match.tv2 }}</a></td>
                <td><a href="#" data-type="number" data-pk="{{ match.matchId }}" data-name="Depense1" id="admin_match_depense1_{{ loop.index }}">{{ match.depense1 }}</a></td>
                <td><a href="#" data-type="number" data-pk="{{ match.matchId }}" data-name="Depense2" id="admin_match_depense2_{{ loop.index }}">{{ match.depense2 }}</a></td>
                {% if (match.stadeAcceuil == 1) %}
                    <td>{{ match.team1.name }}</td>
                {% elseif  (match.stadeAcceuil == 2) %}
                    <td>{{ match.team2.name }}</td>
                {% else %}
                    <td>Personne</td>
                {% endif %}
                <td>
                    <a href="{{ path('matches_edit', {'matchId': match.matchId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('matches_new') }}">Create new</a>
    </div>
</div>
{% endblock %}
