{% extends 'statbb/base.html.twig' %}

{% block title %}Coaches index{% endblock %}

{% block body %}
<div class="m-2">
    <div class="card">
    <h1>Coaches index</h1>
    <a href="{{ path('Admin') }}">Retour</a>
    <table class="table" id="Admin" entity="Coach">
        <thead>
            <tr>
                <th>CoachId</th>
                <th>Name</th>
                <th>Passwd</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for coach in coaches %}
            <tr>
                <td> {{ coach.coachId }}</td>
                <td><a href="#" data-type="text" data-pk="{{ coach.coachId }}" data-name="Username" id="admin_coach_name_{{ loop.index }}"> {{ coach.username }}</a></td>
                <td><a href="#" data-type="password" data-pk="{{ coach.coachId }}" data-name="Password" id="admin_coach_pass_{{ loop.index }}">{{ coach.password }}</a></td>
                <td><a href="#" data-type="select" data-pk="{{ coach.coachId }}" data-name="Roles" data-source='{"ADMIN": "Administrateur", "USER":"Utilisateur"}' id="admin_coach_role_{{ loop.index }}">{{ coach.roles ? coach.roles|json_encode : '' }}</a></td>
                <td>
                    <a href="{{ path('coaches_edit', {'coachId': coach.coachId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('coaches_new') }}">Create new</a>
    </div>
</div>
{% endblock %}
