<div class="table-responsive">
    <table class="table table-striped" id="TableAnciennesEquipes" style="width: 100%">
        <thead>
            <tr>
                <th>Nom De l'équipe</th>
                <th>Race</th>
                <th>Tv</th>
                <th>G</th>
                <th>E</th>
                <th>P</th>
                <th>Td+</th>
                <th>Td-</th>
                <th>Td Av</th>
                <th>CAS+</th>
                <th>CAS-</th>
                <th>CAS Av</th>
                <th>% victoire</th>
                <th>Points</th>
                <th>Bonus</th>
                <th>Penalite</th>
                <th>ELO</th>
                <th>Saison</th>
                <th>Ruleset</th>
            </tr>
        </thead>
        <tbody>
        {%  for ligne in listeEquipe %}
            <tr>
                <td><a href="{{ path('team', {'teamId': ligne.equipe.teamId }) }}">{{ ligne.equipe.name }}</a>
                    {% if ligne.equipe.franchise == true %}
                        <span class="fas fa-tag text-success"></span>
                    {% endif %} </td>
                <td>
                    {% if (ligne.equipe.ruleset == 0) %}
                        {{ ligne.equipe.frace.name }}
                    {% else %}
                        {{ ligne.equipe.race.name }}
                    {% endif %}
                </td>
                <td>{{ ligne.equipe.tv/1000 }}</td>
                <td>{{ ligne.resultats.win }}</td>
                <td>{{ ligne.resultats.draw }}</td>
                <td>{{ ligne.resultats.loss }}</td>
                <td>{{ ligne.resultats.tdMis }}</td>
                <td>{{ ligne.resultats.tdPris }}</td>
                <td>{{ ligne.resultats.tdMis - ligne.resultats.tdPris }}</td>
                <td>{{ ligne.resultats.sortiesPour }}</td>
                <td>{{ ligne.resultats.sortiesContre }}</td>
                <td>{{ ligne.resultats.sortiesPour - ligne.resultats.sortiesContre }}</td>
                {% if ligne.resultats.loss > 0 or ligne.resultats.win > 0 %}
                <td>{{ (ligne.resultats.win/(ligne.resultats.loss+ligne.resultats.win) * 100)|round(2,'floor') }}</td>
                {% else %}
                <td>0</td>
                {% endif %}
                <td>{{ ligne.resultats.score }}</td>
                <td>{{ ligne.resultats.bonus }}</td>
                <td>{{ ligne.resultats.penalite }}</td>
                <td>{{ ligne.equipe.elo }}</td>
                <td>{{ ligne.annee }}</td>
                <td>{{ etiquettes[ligne.equipe.ruleset] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>