<div class="accordion" id="listeAnciensMatchs">
    {% set id = 0 %}
    {% for listeAnne in listeMatchesParAns %}
        <div class="card">
            <div class="card-header" id="heading0">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ id }}"
                            aria-expanded="true" aria-controls="collapse{{ id }}">
                        {{ EtiquettesAnnees[id] }}
                    </button>
                </h2>
            </div>

            <div id="collapse{{ id }}" class="collapse" aria-labelledby="heading{{ id }}" data-parent="#accordion">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped" id="TableAnciensMatchs">
                            <tbody>
                            {% for match in listeAnne %}
                                <tr>
                                    <td>{{ match.team1.name }}                {% if match.team1.franchise == true %}
                                            <span class="fas fa-tag text-success"></span>
                                        {% endif %} (
                                        {% if(match.team1.ruleset == 0) %}
                                            {{ match.team1.fRace.name }}
                                        {% else %}
                                            {{  match.team1.race.name  }}
                                        {% endif %}
                                        , {{ match.tv1/1000 }}
                                        de {{ match.team1.ownedByCoach.username }} )
                                    </td>
                                    <td> Vs</td>
                                    <td>{{ match.team2.name }}{% if match.team2.franchise == true %}
                                            <span class="fas fa-tag text-success"></span>
                                        {% endif %} (
                                        {% if(match.team2.ruleset == 0) %}
                                            {{ match.team2.fRace.name }}
                                        {% else %}
                                            {{  match.team2.race.name  }}
                                        {% endif %}
                                        , {{ match.tv2/1000 }}
                                        de {{ match.team2.ownedByCoach.username }} )
                                    </td>
                                    <td class="text-nowrap">{{ match.team1Score }} - {{ match.team2Score }}</td>
                                    <td>{{ match.dateCreated|date("d/m/Y") }}</td>
                                    <td>
                                    <td class="text-center text-nowrap"><a
                                                href="{{ path('match', {'matchId': match.matchId}) }}">Voir</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% set id = id+1 %}
    {% endfor %}
</div>