<div class="card">
    <div class="card-body">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#equipes">Equipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#AnciensMatchs">Anciens Matchs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#AncienneEquipes">Anciennes Equipes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#ClassementAnciens">Anciens Classements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#confrontations">Confrontations</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="equipes" class="tab-pane fade show active">
                {{ render(controller('App\\Controller\\EquipeController::showUserTeams' )) }}
            </div>
            <div id="AnciensMatchs" class="tab-pane fade show">
                {{ render(controller('App\\Controller\\MatchController::matchsDunCoach')) }}
            </div>
            <div id="AncienneEquipes" class="tab-pane fade show">
                {{ render(controller('App\\Controller\\EquipeController::montreLesAnciennesEquipes',{'coachActif':app.user})) }}
            </div>
            <div id="confrontations" class="tab-pane fade show">
                {{ render(controller('App\\Controller\\ClassementController::afficheConfrontation')) }}
            </div>
            <div id="ClassementAnciens" class="tab-pane fade show">
                {{ render(controller('App\\Controller\\ClassementController::listeAncienAnneClassement')) }}
            </div>
        </div>
    </div>
</div>
