<div class="table-responsive">
    <table class="table" id="equipesEnCours">
        <thead>
        <tr>
            <th>Equipe</th>
            <th>Race</th>
            <th>TV</th>
            <th>G</th>
            <th>E</th>
            <th>P</th>
            <th>% victoire</th>
            <th>ELO</th>
            <th>Retirer ?</th>
        </tr>
        </thead>
        {% for ligne in listeEquipe %}
            {% if (ligne.equipe.retired == 1) %}
                <tr class="table-danger" style="display: none;">
            {% else %}
                <tr>
            {% endif %}
            <td><a href="{{ path('team', {'teamid': ligne.equipe.teamId }) }}">{{ ligne.equipe.name }}</a>
            </td>
            <td>{{ ligne.equipe.frace.name }}</td>
            <td>{{ ligne.equipe.tv/1000 }}</td>
            <td>{{ ligne.resultats.win }}</td>
            <td>{{ ligne.resultats.draw }}</td>
            <td>{{ ligne.resultats.loss }}</td>
            {% if ligne.resultats.loss > 0 or ligne.resultats.win > 0 %}
                <td>{{ (ligne.resultats.win/(ligne.resultats.loss+ligne.resultats.win) * 100)|round(2,'floor') }}</td>
            {% else %}
                <td>0</td>
            {% endif %}
            <td>{{ ligne.equipe.elo }}</td>
            {% if ligne.equipe.retired == 1 %}
                <td> Retirée</td>
            {% else %}
                <td><span class="fas fa-times text-danger" teamId="{{ ligne.equipe.teamId }}"
                          id="retire_{{ ligne.equipe.teamId }}"></span></td>
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<button type="button" id="showall_btn" class="btn btn-primary">
    Montrer les équipes retirées
</button>
{{ render(controller('App\\Controller\\EquipeController::choixRace' )) }}