{% extends 'statbb/base.html.twig' %}

{% block title %}PlayersSkills index{% endblock %}

{% block body %}
<div class="m-2">
    <div class="card">
    <h1>PlayersSkills index</h1>
        <a href="{{ path('Admin') }}">Retour</a>
    <table class="table" id="Admin">
        <thead>
            <tr>
                <th>Id</th>
                <th>Players</th>
                <th>Race</th>
                <th>Position</th>
                <th>Team</th>
                <th>Skill</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for players_skill in players_skills %}
            <tr>
                <td>{{ players_skill.id }}</td>
                <td>{{ players_skill.fPid.name }}</td>
                <td>{{ players_skill.fPid.fRid.name }}</td>
                <td>{{ players_skill.fPid.fPos.pos }}</td>
                <td>{{ players_skill.fPid.ownedByTeam.name }}</td>
                <td>{{ players_skill.fSkill.name }}</td>
                <td>{{ players_skill.type }}</td>
                <td>
                    <a href="{{ path('players_skills_edit', {'id': players_skill.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('players_skills_new') }}">Create new</a>
    </div>
</div>
{% endblock %}
